<div class="w-full mt-5 max-w-screen-xl mx-auto">
    <!-- Schemewise Assessment Report start-->
<div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden mt-3 ml-4 mr-4 mb-3">
    <div class=" justify-between">
        <div class="text-4xl  font-extrabold tracking-tight leading-6  text-center">Schemewise Assessment Report
        </div>
        <div
        class="sm:items-center sm:justify-between py-8 px-6 md:px-8">
        <div class="flex-auto ml-5">
            <mat-form-field class="fuse-mat-dense flex-auto w-60 ml-4">
                <mat-date-range-input [rangePicker]="dateRangePicker1">
                    <input matStartDate placeholder="Start date " #dateRangeStart1>
                    <input matEndDate placeholder="End date " #dateRangeEnd1
                        (dateChange)="dateRangeChangeSchemes(dateRangeStart1, dateRangeEnd1)">
                </mat-date-range-input>
                <mat-datepicker-toggle matPrefix [for]="dateRangePicker1"></mat-datepicker-toggle>
                <mat-date-range-picker #dateRangePicker1></mat-date-range-picker>
            </mat-form-field>
         
            <button *ngIf="!ngShow" class="ml-3 w-30 text-sm" mat-flat-button (click)="SchemeReport()" style="float: right;">
                <mat-icon class="mat-icon mat-icon-no-color material-icons notranslate text-4xl text-blue-600" >cloud_download</mat-icon>
                <span class="flex justify-center">Download</span>
              </button>
           
        </div>
        
    </div>
    <div class="border ml-4 mr-3 rounded" id="container"></div>
    </div>
</div>
<!-- Schemewise Assessment Report end -->

<!-- Jobrole Assessment Report start -->
<div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden mt-3 ml-4 mr-4 mb-3">
    <div class="justify-between">
        <div class="text-4xl font-extrabold tracking-tight items-center leading-6  text-center">Jobrole Assessment Report
        </div>
        <div
        class="sm:items-center flex sm:justify-between py-8 px-6 md:px-8">
       
        <div class=" ml-5">
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50 mr-2">
                <mat-select [formControl]="selectSector" placeholder="Sector" #singleSelect (selectionChange)="onChangeSectorSelect($event)">
                    <mat-option>
                        <ngx-mat-select-search [formControl]="inputFilterCtrl" placeholderLabel="Search Sector">
                        </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let item of sectors | async" [value]="item.id">
                        {{item.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="flex-auto" style=" margin-top: 15px">
            <mat-form-field class="fuse-mat-dense flex-auto w-60 ml-4">
                <mat-date-range-input [rangePicker]="dateRangePicker">
                    <input matStartDate placeholder="Start date" #dateRangeStart>
                    <input matEndDate placeholder="End date" #dateRangeEnd
                        (dateChange)="dateRangeChangeJobRole(dateRangeStart, dateRangeEnd)">
                </mat-date-range-input>
                <mat-datepicker-toggle matPrefix [for]="dateRangePicker">
                </mat-datepicker-toggle>
                <mat-date-range-picker #dateRangePicker></mat-date-range-picker>
            </mat-form-field>
           
        </div>
        <div class="flex-row end">
             <button *ngIf="ngShow"  class="ml-3 w-30 text-sm" mat-flat-button (click)="jobRoleReport()">
            <mat-icon class="mat-icon mat-icon-no-color material-icons notranslate text-4xl text-blue-600" >cloud_download</mat-icon>
            <span class="flex justify-center">Download</span>
          </button></div>
    </div>
    </div>
   
    <div *ngIf="!ngShow" class=" text-1xl text-accent-800 text-center"><span>Please Select Sector</span></div>
        <div  class="border ml-4 mr-3   rounded" id="container1"></div>
</div>
<!-- Jobrole Assessment Report End -->

    <!-- nos Report start-->
   <div class="grid grid-cols-1 sm:grid-cols-2 rounded-2xl p-6 md:grid-cols-2 gap-6 w-full min-w-0">
    <div class="flex flex-col flex-auto" id="container2"></div>
    <div class="flex flex-col flex-auto" id="container3"></div>
   </div>
    <!-- nos Assessment Report end -->

     <!-- batch candidate result start  -->
  <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden mt-3 ml-4 mr-4 mb-3">
    <div class="text-4xl  font-extrabold tracking-tight mt-2 leading-6  text-center">Batch and Candidate Marks
    </div>
    <div
    class="sm:items-center flex sm:justify-between py-8 px-6 md:px-8">
   
    <div class=" ml-5">
        
        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50 mr-2">
            <mat-select [(ngModel)]="isSelectedBatch" placeholder="Batch Select" #singleSelect (selectionChange)="onChangeSectorSelectBatch($event.value, 'batch')">
              <mat-option>
                <ngx-mat-select-search [formControl]="inputFilterCtrl" placeholderLabel="Search Batch"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let item of filteredBatchname" [value]="item.id">
                {{ item.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          
        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50 mr-2">
            <mat-select [(ngModel)]="isSelectedCandidate" placeholder="Candidate Name" #singleSelect (selectionChange)="onChangeSectorSelectBatch($event.value ,'candidate_name')">
            
                <mat-option *ngFor="let item of candidateName  " [value]="item.id">
                    {{item.user.first_name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
       
        
    </div>
    
    <button  class="ml-3 w-30 text-sm" mat-flat-button (click)="exportResult()">
        <mat-icon class="mat-icon mat-icon-no-color material-icons notranslate text-4xl text-blue-600" >cloud_download</mat-icon>
        <span class="flex justify-center">Download</span>
      </button>
      
    </div>
    <div *ngIf="!ngShow" class=" text-1xl text-accent-800 text-center"><span>Please Select Batch</span></div>
        <div class=" ml-4 mr-3 rounded" id="container7"></div>
   
    </div>
<!-- batch candidate result end -->
    <!-- India Map start -->
    <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden mt-3 ml-4 mr-4 mb-3">
        <div class="text-4xl  font-extrabold tracking-tight leading-6  text-center">Statewise Assessment Report
        </div>
        
        <div style="display: flex; justify-content: space-between;" class="ml-5 mt-5">
            <div style="display: flex; align-items: center;">
                <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-30 mr-5 w-30" >
                    <mat-select  [(ngModel)]="isSelectedSector"  #singleSelect (selectionChange)="onSelectState($event.value ,'sector')">
                        <mat-option value="" selected>Sector</mat-option>
                        <mat-option *ngFor="let item of sectors| async "[value]="item.id">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-30 mr-5 w-30" *ngIf="isSelectedSector">
                    <mat-select  [(ngModel)]="isSelectedJobRole"  placeholder="Job-Role"#singleSelect (selectionChange)="onSelectState($event.value ,'jobRole')">
                        <mat-option value="" selected>Job-Role</mat-option>
                        <mat-option *ngFor="let item of jobRoleName" [value]="item.id">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript w-60 ml-4">
                    <mat-date-range-input [rangePicker]="dateRangePicker2">
                        <input matStartDate placeholder="Start date " #dateRangeStart2>
                        <input matEndDate placeholder="End date " #dateRangeEnd2
                            (dateChange)="dateRangeChangeState(dateRangeStart2, dateRangeEnd2)">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matPrefix [for]="dateRangePicker2"></mat-datepicker-toggle>
                    <mat-date-range-picker #dateRangePicker2></mat-date-range-picker>
                </mat-form-field>
            </div>
            <button class="ml-3 mr-11 pl-2.5 text-sm w-30" mat-flat-button (click)="stateWiseReport()">
                <mat-icon class="mat-icon mat-icon-no-color material-icons notranslate text-4xl text-blue-600">cloud_download</mat-icon>
                <span class="flex justify-center">Download</span>
            </button>
           
        </div>
       

        <div class="flex flex-col flex-auto" style="height: 700px !important" id="indiaMapContainer"></div>
    </div>
    <!-- India map end -->
 
</div>
