<div class="flex-auto p-6 absolute inset-0 overflow-auto bg-card dark:bg-transparent">
    <div class="max-w-screen-xl mx-auto ">
        <div class="absolute inset-x-0 top-0" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <form class="w-200 gap-10 mt-4 px-8 py-5 bg-card shadow rounded overflow-hidden"
            [formGroup]="selectedSubAdminForm">
            <div class="text-3xl font-extrabold tracking-tight">
                {{isNew?'Add':'Update'}} Sub Admin
            </div>
            <mat-divider class="my-5"></mat-divider>
            <div class="p-8">
                <div class="flex flex-row">
                    <div class="flex flex-col w-full mr-10">
                        <mat-form-field>
                            <mat-label>First Name</mat-label>
                            <input matInput [formControlName]="'first_name'" required>
                            <mat-error *ngIf="f.first_name.errors && f.first_name.touched">
                                <mat-error *ngIf="f.first_name.errors.required">First Name is required</mat-error>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="flex flex-col w-full">
                        <mat-form-field>
                            <mat-label>Last Name</mat-label>
                            <input matInput [formControlName]="'last_name'" required>
                            <mat-error *ngIf="f.last_name.errors && f.last_name.touched">
                                <mat-error *ngIf="f.last_name.errors.required">Last Name is required</mat-error>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="flex flex-row" *ngIf="isNew">
                    <div class="flex flex-col w-full mr-10">
                        <mat-form-field class="fuse-mat-dense flex-auto">
                            <mat-label>Password</mat-label>
                            <input matInput type="password" [formControlName]="'password'" required>
                            <mat-error *ngIf="f.password.errors && f.password.touched">
                                <mat-error *ngIf="f.password.errors.required">Password is required</mat-error>
                                <mat-error *ngIf="f.password.errors.minlength">Password must be at least 6 characters
                                </mat-error>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="flex flex-col w-full">
                        <mat-form-field class="fuse-mat-dense flex-auto">
                            <mat-label>Confirm Password</mat-label>
                            <input matInput type="password" [formControlName]="'confirmPassword'" required>
                            <mat-error *ngIf="f.confirmPassword.errors && f.confirmPassword.touched">
                                <mat-error *ngIf="f.confirmPassword.errors.required">Confirm Password is required
                                </mat-error>
                                <mat-error *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</mat-error>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="flex flex-row">
                    <div class="flex flex-col w-full">
                        <mat-form-field>
                            <mat-label>Role</mat-label>
                            <mat-select required [formControlName]="'role'" multiple>
                                <ng-container *ngFor="let role of roles">
                                    <mat-option [value]="role.id">
                                        {{role.name}}
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                            <mat-error *ngIf="f.role.errors && f.role.touched">
                                <mat-error *ngIf="f.role.errors.required">Role is required</mat-error>
                            </mat-error>
                        </mat-form-field>
                        <!-- <mat-label class="mb-2 text-md font-semibold">Role</mat-label>
                        <mat-checkbox
                            class="mb-3"
                            [color]="'primary'"
                            [formControlName]="'role'"
                            *ngFor="let role of roles"
                            [value]="role.id">
                            {{role.name}}
                        </mat-checkbox>
                        <mat-error *ngIf="f.role.errors && f.role.touched">
                            <mat-error *ngIf="f.role.errors.required">Role is required</mat-error>
                        </mat-error> -->
                    </div>
                    <div class="flex flex-col w-full ml-10">
                        <mat-form-field>
                            <mat-label>Email</mat-label>
                            <input matInput type="email" [formControlName]="'email'" required>
                            <mat-error *ngIf="f.email.errors && f.email.touched">
                                <mat-error *ngIf="f.email.errors.required">Email is required</mat-error>
                                <mat-error *ngIf="f.email.errors.pattern">
                                    Please enter a valid email
                                </mat-error>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="flex items-center justify-center w-full border-t px-8 py-4">
                <div class="flex items-center mr-2">
                    <button mat-flat-button (click)="addUpdateselectedSubAdmin()" [color]="'primary'">
                        {{isNew ? 'Save' : 'Update'}}
                    </button>
                </div>
                <div class="flex items-center ml-2">
                    <button mat-flat-button routerLink="/sub-admin" [color]="'primary'">
                        Cancel
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>
