<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden bg-card dark:bg-transparent">

    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Loader -->
        <div
            class="absolute inset-x-0 bottom-0"
            *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <div class="text-4xl font-extrabold tracking-tight">Equipments Management</div>
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50" *ngIf="jobroles">
                <mat-select [formControl]="jobroleCtrl" placeholder="Jobrole" #singleSelect (selectionChange)="onChangeJobRoleSelect($event)">
                <mat-option>
                    <ngx-mat-select-search [formControl]="jobroleFilterCtrl" placeholderLabel="Search jobrole"></ngx-mat-select-search>
                </mat-option>

                <mat-option *ngFor="let item of jobroles | async" [value]="item.id">
                    {{item.name}}
                </mat-option>
                </mat-select>
            </mat-form-field>
            <a href='./../../../assets/doc/bulk-upload-equipments.csv' target="_blank" class="ml-4" mat-flat-button [color]="'primary'" matTooltip="Download Equipments sample sheet">
                <mat-icon [svgIcon]="'heroicons_outline:download'"></mat-icon>
            </a>
            <button
                class="ml-4"
                mat-flat-button
                [color]="'primary'"
                routerLink="add-equipments"
                >
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Add</span>
            </button>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">

        <div class="flex flex-col flex-auto sm:mb-5 overflow-hidden">

            <ng-container *ngIf="questionCount !== 0">

                <div
                    class="overflow-auto"
                    cdkScrollable>

                    <table
                        class="w-full table-fixed bg-transparent"
                        mat-table
                        matSort
                        [matSortActive]="'name'"
                        [matSortDisableClear]="true"
                        [matSortDirection]="'asc'"
                        [multiTemplateDataRows]="true"
                        [dataSource]="equipments$"
                        [trackBy]="trackByFn">

                        <ng-container matColumnDef="JobRole">
                            <th
                                class="w-1/2 bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                mat-header-cell
                                *matHeaderCellDef
                                disableClear>
                                Equipments Name
                            </th>
                            <td
                                class="pr-8 truncate"
                                mat-cell
                                *matCellDef="let rule">
                                {{rule.name}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Sector">
                            <th
                                class="w-1/2 bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                mat-header-cell
                                *matHeaderCellDef
                                disableClear>
                                Created At
                            </th>
                            <td
                                class="pr-8 truncate"
                                mat-cell
                                *matCellDef="let rule">
                                {{rule.createdAt | date : 'short'}}
                            </td>
                        </ng-container>

                        <!-- <ng-container matColumnDef="Question">
                            <th
                                class="w-100 bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                mat-header-cell
                                *matHeaderCellDef
                                disableClear>
                                Question
                            </th>
                            <td
                                class="pr-8 truncate"
                                mat-cell
                                *matCellDef="let rule">
                                {{rule.question_locales[0].text}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="weightage">
                            <th
                                class="w-20 bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                mat-header-cell
                                *matHeaderCellDef
                                disableClear>
                                Weightage
                            </th>
                            <td
                                class="pr-8 truncate"
                                mat-cell
                                *matCellDef="let item">
                                {{item.weightage}}
                            </td>
                        </ng-container> -->

                        <ng-container matColumnDef="actions">
                            <th
                                class="w-40 pl-3 bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                mat-header-cell
                                *matHeaderCellDef>
                                Actions
                            </th>
                            <td
                                class="pr-8"
                                mat-cell
                                *matCellDef="let item">
                                <button
                                mat-icon-button
                                (click)="openDialog(item.id)">
                                    <mat-icon
                                        class="icon-size-5"
                                        [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <tr
                            class="shadow"
                            mat-header-row
                            *matHeaderRowDef="questionTableColumns; sticky: true"></tr>
                        <tr
                            class="h-18 hover:bg-gray-100 dark:hover:bg-hover"
                            mat-row
                            *matRowDef="let scheme; columns: questionTableColumns;"></tr>
                    </table>

                </div>

            </ng-container>

            <ng-container *ngIf="questionCount === 0">
                <h3 *ngIf="jobRoleModel" class="text-center m-10">No data found related to selected Job Role.</h3>
                <h3 *ngIf="!jobRoleModel" class="text-center m-10">Please select Job Role.</h3>
            </ng-container>

        </div>

    </div>

</div>
