<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden bg-card dark:bg-transparent">

    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Loader -->
        <div class="text-4xl font-extrabold tracking-tight">Invoice Management</div>
        <div class="flex-auto ml-5">
            <mat-form-field class="fuse-mat-dense flex-auto w-60 ml-4">
                <mat-date-range-input [rangePicker]="dateRangePicker">
                    <input matStartDate placeholder="Start date" #dateRangeStart>
                    <input matEndDate placeholder="End date" #dateRangeEnd
                        (dateChange)="dateRangeChange(dateRangeStart, dateRangeEnd)">
                </mat-date-range-input>
                <mat-datepicker-toggle matPrefix [for]="dateRangePicker">
                </mat-datepicker-toggle>
                <mat-date-range-picker #dateRangePicker></mat-date-range-picker>
            </mat-form-field>
            <mat-form-field class="fuse-mat-dense flex-auto w-50 ml-4">
                <mat-icon matPrefix [svgIcon]="'heroicons_outline:search'"></mat-icon>
                <input matInput #searchFilter [autocomplete]="'off'" [placeholder]="'Search Batch'">
            </mat-form-field>
            <mat-form-field class="fuse-mat-dense flex-auto w-40 ml-4">
                <mat-select multiple [(ngModel)]="dropdownFilter" (selectionChange)="selectFilter($event.value)"
                    placeholder="Payment filter">
                    <mat-option value="isAssessorPaid">Assessor paid</mat-option>
                    <mat-option value="isGovtPaid">Gov paid</mat-option>
                    <mat-option value="isResultPaid">Result paid</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="flex flex-col flex-auto sm:mb-5 overflow-hidden">

        <ng-container>

            <!-- Table wrapper -->
            <div class="overflow-x-auto sm:overflow-y-auto" cdkScrollable>

                <!-- Table -->
                <table class="w-full table-fixed bg-transparent" mat-table matSort [matSortActive]="'name'"
                    [matSortDisableClear]="true" [matSortDirection]="'asc'" [multiTemplateDataRows]="true"
                    [dataSource]="batchExam$" [trackBy]="trackByFn">

                    <!-- Name -->
                    <ng-container matColumnDef="name">
                        <th class="w-40 bg-gray-50 dark:bg-black dark:bg-opacity-5 pl-10" mat-header-cell
                            *matHeaderCellDef disableClear>
                            Batch Name
                        </th>
                        <td class="pr-8 truncate text-center" mat-cell *matCellDef="let rule">
                            <a routerLink="view-batch/{{rule.id}}"><b>{{rule.name}}</b></a>
                        </td>
                    </ng-container>

                    <!-- assessorPaid -->
                    <ng-container matColumnDef="assessorPaid">
                        <th class="w-auto bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell *matHeaderCellDef
                            disableClear>
                            Assessor Paid
                        </th>
                        <td class="pr-8 truncate text-center" mat-cell *matCellDef="let rule">
                            {{rule.is_assessor_paid !== 0?'Yes':'No'}}
                        </td>
                    </ng-container>

                    <!-- assessorPaidDate -->
                    <ng-container matColumnDef="assessorPaidDate">
                        <th class="w-auto bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell *matHeaderCellDef
                            disableClear>
                            Assessor Paid Date
                        </th>
                        <td class="pr-8 truncate text-center" mat-cell *matCellDef="let rule">
                            <span *ngIf="rule.assessor_paid_date; else assessorNotPaid">
                                {{rule.assessor_paid_date | date :'short'}}
                            </span>
                            <ng-template #assessorNotPaid>
                                N/A
                            </ng-template>
                        </td>
                    </ng-container>

                    <!-- govPaid -->
                    <ng-container matColumnDef="govPaid">
                        <th class="w-auto bg-gray-50 dark:bg-black dark:bg-opacity-5 pl-6" mat-header-cell
                            *matHeaderCellDef disableClear>
                            Gov Paid
                        </th>
                        <td class="pr-8 truncate text-center" mat-cell *matCellDef="let rule">
                            {{rule.is_govt_paid !== 0?'Yes':'No'}}
                        </td>
                    </ng-container>

                    <!-- govPaidDate -->
                    <ng-container matColumnDef="govPaidDate">
                        <th class="w-auto bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell *matHeaderCellDef
                            disableClear>
                            Gov Paid Date
                        </th>
                        <td class="pr-8 truncate text-center" mat-cell *matCellDef="let rule">
                            <span *ngIf="rule.govt_paid_date; else govNotPaid">
                                {{rule.govt_paid_date | date :'short'}}
                            </span>
                            <ng-template #govNotPaid>
                                N/A
                            </ng-template>
                        </td>
                    </ng-container>
                    <!-- resultPaid -->
                    <ng-container matColumnDef="resultPaid">
                        <th class="w-auto bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell *matHeaderCellDef
                            disableClear>
                            Result Paid
                        </th>
                        <td class="pr-8 truncate text-center" mat-cell *matCellDef="let rule">
                            {{rule.is_result_paid !== 0?'Yes':'No'}}
                        </td>
                    </ng-container>
                    <!-- resultPaidDate -->
                    <ng-container matColumnDef="resultPaidDate">
                        <th class="w-auto bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell *matHeaderCellDef
                            disableClear>
                            Result Paid Date
                        </th>
                        <td class="pr-8 truncate text-center" mat-cell *matCellDef="let rule">
                            {{rule.result_paid_date | date :'short'}}
                            <span *ngIf="rule.result_paid_date; else resultNotPaid">
                                {{rule.result_paid_date | date :'short'}}
                            </span>
                            <ng-template #resultNotPaid>
                                N/A
                            </ng-template>
                        </td>
                    </ng-container>
                    <!-- isPublished -->
                    <ng-container matColumnDef="actions">
                        <th class="w-auto bg-gray-50 dark:bg-black dark:bg-opacity-5 text-center" mat-header-cell
                            *matHeaderCellDef>
                            Actions
                        </th>
                        <td class="pr-8 text-center" mat-cell *matCellDef="let batch">
                            <ng-container>
                                <div>
                                    <button mat-icon-button (click)="showModal(batch)">
                                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:pencil'"></mat-icon>
                                    </button>
                                </div>
                            </ng-container>
                        </td>
                    </ng-container>
                    <tr class="shadow" mat-header-row *matHeaderRowDef="batchExamTableColumns; sticky: true"></tr>
                    <tr class="h-18 hover:bg-gray-100 dark:hover:bg-hover" mat-row
                        *matRowDef="let scheme; columns: batchExamTableColumns;"></tr>
                </table>

            </div>

        </ng-container>

        <mat-paginator (page)="handlePageEvent($event)" [length]="batchExamCount" [pageSize]="pageSize"
            [showFirstLastButtons]="showFirstLastButtons" [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageIndex">
        </mat-paginator>

    </div>
</div>
<div *ngIf="showInvoiceModal"
    class="overflow-x-hidden overflow-y-auto fixed inset-0 z-999 outline-none focus:outline-none justify-center items-center flex backdrop-filter backdrop-blur-sm md:backdrop-blur-lg -backdrop-hue-rotate-15">
    <div class="relative w-auto my-5 mx-auto max-w-6xl">
        <!--content-->
        <div
            class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
            <!--header-->
            <div
                class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t bg-primary text-white">
                <h3 class="text-3xl font-semibold">
                    Update Invoice
                </h3>
                <button
                    class="p-1 ml-auto border-0 float-right text-3xl leading-none font-semibold outline-none focus:outline-none"
                    (click)="closeModal()">
                    <span class="h-6 w-6 text-3xl block outline-none focus:outline-none">
                        x
                    </span>
                </button>
            </div>
            <!--body-->
            <div class="mx-5 w-100 p-6">
                <div class="grid grid-rows-3 grid-flow-col gap-2">
                    <div>
                        <mat-slide-toggle class="example-margin" color="primary" [(ngModel)]="isAssessorPaid">
                            Assessor Paid
                        </mat-slide-toggle>
                    </div>
                    <div>
                        <mat-slide-toggle class="example-margin" color="primary" [(ngModel)]="isGovtPaid">
                            Government Paid
                        </mat-slide-toggle>
                    </div>
                    <div>
                        <mat-slide-toggle class="example-margin" color="primary" [(ngModel)]="isResultPaid">
                            Result Paid
                        </mat-slide-toggle>
                    </div>
                </div>
            </div>
            <!--footer-->
            <div class="flex items-center justify-end p-5 border-t border-solid border-blueGray-200 rounded-b">
                <button mat-flat-button [color]="'primary'" (click)="updateInvoice()">
                    Save Changes
                </button>
            </div>
        </div>
    </div>
</div>
