<h2 mat-dialog-title class="text-3xl text-accent-900">Batch Assessor Rating</h2>
<div>
  <mat-divider></mat-divider>
  <div class="rating mt-2">
    <mat-label class="mb-2">Star Rating</mat-label>
    <div class="star-rating mb-1 space-x-5">
      <mat-icon class="star-icon" (click)="setRating(1)" [ngClass]="{'filled': data.rating >= 1}">star</mat-icon>
      <mat-icon class="star-icon" (click)="setRating(2)" [ngClass]="{'filled': data.rating >= 2}">star</mat-icon>
      <mat-icon class="star-icon" (click)="setRating(3)" [ngClass]="{'filled': data.rating >= 3}">star</mat-icon>
      <mat-icon class="star-icon" (click)="setRating(4)" [ngClass]="{'filled': data.rating >= 4}">star</mat-icon>
      <mat-icon class="star-icon" (click)="setRating(5)" [ngClass]="{'filled': data.rating >= 5}">star</mat-icon>
    </div>
  </div>
  
  <mat-form-field class="w-100">
    <mat-label>Review</mat-label>
    <textarea matInput [(ngModel)]="data.review"></textarea>
  </mat-form-field>
  
  <mat-divider></mat-divider>
  <div mat-dialog-actions class="justify-end" >
    <button mat-button class="bg-gray-300 hover:bg-gray-400 text-gray-800  font-bold py-2 px-4 rounded-full" (click)="onNoClick()">No </button>
    <button mat-button class="bg-gray-300 hover:bg-gray-400 text-gray-800font-bold py-2 px-4 rounded-full" [mat-dialog-close]="data" cdkFocusInitial>Submit</button>
  </div>
</div>
