.rating {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .star-icon {
    font-size: 24px;
    cursor: pointer;
    color: #ccc;
    transition: color 0.2s;
  }
  
  .star-icon.filled {
    color: gold;
  }
  