<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Loader -->
        <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">Batch/Exam Management</div>
        <!-- Actions -->
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <!-- Search -->
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50">
                <mat-icon matPrefix [svgIcon]="'heroicons_outline:search'"></mat-icon>
                <input matInput #searchFilter (change)="searchFilterChange()" [autocomplete]="'off'"
                    [placeholder]="'Search Batch'">
            </mat-form-field>
            <!-- Add sector button -->
            <a href='./../../../assets/doc/sample_candidates.csv' target="_blank" class="ml-4" mat-flat-button
                [color]="'primary'" matTooltip="Download Candidate sample sheet">
                <mat-icon [svgIcon]="'heroicons_outline:download'"></mat-icon>
            </a>
            <button class="ml-4" mat-flat-button [color]="'primary'" routerLink="add-batch">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Add</span>
            </button>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">

        <!-- Scheme list -->
        <div class="flex flex-col flex-auto sm:mb-5 overflow-hidden">

            <ng-container>

                <!-- Table wrapper -->
                <div class="overflow-x-auto sm:overflow-y-auto" cdkScrollable>

                    <!-- Table -->
                    <table class="w-full table-fixed bg-transparent" mat-table matSort [matSortActive]="'name'"
                        [matSortDisableClear]="true" [matSortDirection]="'asc'" [multiTemplateDataRows]="true"
                        [dataSource]="batchExam$" [trackBy]="trackByFn">

                        <!-- Name -->
                        <ng-container matColumnDef="name">
                            <th class="w-40 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell
                                *matHeaderCellDef disableClear>
                                Batch Id
                            </th>
                            <td class="pr-8 truncate" mat-cell *matCellDef="let rule">
                                <a routerLink="view-batch/{{rule.id}}"><b>{{rule.name}}</b></a>
                                <br>
                                <span class="text-sm">{{rule.createdAt | date: 'short'}}</span>
                            </td>
                        </ng-container>

                        <!-- jobRole -->
                        <ng-container matColumnDef="jobRole">
                            <th class="w-auto bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell
                                *matHeaderCellDef disableClear>
                                Job Role
                            </th>
                            <td class="pr-8 truncate" mat-cell *matCellDef="let rule">
                                {{rule.job_role_name}}
                            </td>
                        </ng-container>

                        <!-- sector -->
                        <ng-container matColumnDef="sector">
                            <th class="w-auto bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell
                                *matHeaderCellDef disableClear>
                                Sector
                            </th>
                            <td class="pr-8 truncate" mat-cell *matCellDef="let rule">
                                {{rule.sector_name}}
                            </td>
                        </ng-container>

                        <!-- assessor -->
                        <ng-container matColumnDef="assessor">
                            <th class="w-auto bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell
                                *matHeaderCellDef disableClear>
                                Assessor
                            </th>
                            <td class="pr-8 truncate" mat-cell *matCellDef="let rule">
                                <span *ngIf="rule.assessor_first_name; else noassessor">
                                    {{rule.assessor_first_name}} {{rule.assessor_last_name}}
                                </span>
                                <ng-template #noassessor>
                                    N/A
                                </ng-template>

                            </td>
                        </ng-container>

                        <!-- practicalStatus -->
                        <ng-container matColumnDef="practicalStatus">
                            <th class="w-auto bg-gray-50 dark:bg-black dark:bg-opacity-5 text-center" mat-header-cell
                                *matHeaderCellDef disableClear>
                                Practical Submitted
                            </th>
                            <td class="pr-8 truncate text-center" mat-cell *matCellDef="let rule">
                                {{rule.practicalSubmitted !== 0?'Yes':'No'}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="theoryStatus">
                            <th class="w-auto bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell
                                *matHeaderCellDef disableClear>
                                Theory Submitted
                            </th>
                            <td class="pr-8 truncate text-center" mat-cell *matCellDef="let rule">
                                {{rule.theorySubmitted !== 0?'Yes':'No'}}
                            </td>
                        </ng-container>

                        <!-- questions -->
                        <ng-container matColumnDef="questions">
                            <th class="w-auto bg-gray-50 dark:bg-black dark:bg-opacity-5 pl-4" mat-header-cell
                                *matHeaderCellDef disableClear>
                                Questions
                            </th>
                            <td class="pr-8 truncate text-center" mat-cell *matCellDef="let rule">
                                {{!rule.question_count?'No':'Yes'}}
                            </td>
                        </ng-container>
                        <!-- candidate -->
                        <ng-container matColumnDef="candidate">
                            <th class="w-20 bg-gray-50 dark:bg-black dark:bg-opacity-5 text-center" mat-header-cell
                                *matHeaderCellDef disableClear>
                                Total Candidates
                            </th>
                            <td class="pr-8 truncate text-center" mat-cell *matCellDef="let rule">
                                <span [ngClass]="rule.candidate_count === 0?'text-red-600':''">
                                    {{rule.candidate_count?rule.candidate_count:'N/A'}}
                                </span>
                            </td>
                        </ng-container>
                        <!-- isPublished -->
                        <ng-container matColumnDef="actions">
                            <th class="w-40 bg-gray-50 dark:bg-black dark:bg-opacity-5 text-center" mat-header-cell
                                *matHeaderCellDef>
                                Actions
                            </th>
                            <td class="pr-8 text-center" mat-cell *matCellDef="let batch">
                                <ng-container *ngIf="batch.theorySubmitted === 0 || batch.practicalSubmitted === 0">
                                    <div *ngIf="batch.isPublish===1">
                                        <mat-slide-toggle class="example-margin" color="primary"
                                            (input)="onPublishChange(batch.id, $event.target.checked)"
                                            [checked]="batch.isPublish===0?false:true">
                                            Unpublish
                                        </mat-slide-toggle>
                                    </div>
                                    <div *ngIf="batch.isPublish===0">
                                        <button mat-icon-button routerLink="update-batch/{{batch.id}}">
                                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:pencil'">
                                            </mat-icon>
                                        </button>
                                        <!-- <button mat-icon-button (click)="openDialog(batch.id)">
                                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:trash'">
                                            </mat-icon>
                                        </button> -->
                                        <button class="ml-auto" mat-icon-button
                                            [matMenuTriggerFor]="conversationHeaderMenu">
                                            <mat-icon [svgIcon]="'heroicons_outline:dots-vertical'"></mat-icon>
                                            <mat-menu #conversationHeaderMenu>
                                                <button mat-menu-item routerLink="upload-candidate/{{batch.id}}"
                                                    *ngIf="!batch.candidate_count">
                                                    <mat-icon [svgIcon]="'heroicons_outline:upload'"></mat-icon>
                                                    Upload Candidates
                                                </button>
                                                <button mat-menu-item (click)="toggleModal(batch)">
                                                    <mat-icon [svgIcon]="'heroicons_outline:at-symbol'"></mat-icon>
                                                    Assign Assessor
                                                </button>
                                                <button mat-menu-item (click)="toggleExamModal(batch)">
                                                    <mat-icon [svgIcon]="'heroicons_outline:calendar'"></mat-icon>
                                                    Change Exam Date
                                                </button>
                                                <button mat-menu-item (click)="autoAddQuestions(batch.id)"
                                                    *ngIf="!batch.question_count">
                                                    <mat-icon [svgIcon]="'heroicons_outline:plus-circle'"></mat-icon>
                                                    Auto Add Questions
                                                </button>
                                                <button mat-menu-item (click)="resetQuestions(batch.id)"
                                                    *ngIf="batch.question_count && batch.theorySubmitted === 0">
                                                    <mat-icon [svgIcon]="'heroicons_solid:refresh'"></mat-icon>
                                                    Reset Questions
                                                </button>
                                                <button mat-menu-item *ngIf="batch.practicalSubmitted"
                                                    (click)="downloadZip(batch.id)">
                                                    <mat-icon [svgIcon]="'heroicons_outline:download'"></mat-icon>
                                                    Download zip
                                                </button>
                                                <button mat-menu-item *ngIf="batch.candidate_count !== 0"
                                                    (click)="downloadSheet(batch.id)">
                                                    <mat-icon [svgIcon]="'heroicons_outline:download'"></mat-icon>
                                                    Download Candidate Sheet
                                                </button>
                                                <div class="ml-5">
                                                    <mat-slide-toggle class="example-margin" color="primary"
                                                        (input)="onPublishChange(batch.id, $event.target.checked)"
                                                        [checked]="batch.isPublish===0?false:true">
                                                        Publish
                                                    </mat-slide-toggle>
                                                </div>
                                            </mat-menu>
                                        </button>
                                    </div>
                                </ng-container>
                            </td>
                        </ng-container>
                        <tr class="shadow" mat-header-row *matHeaderRowDef="batchExamTableColumns; sticky: true"></tr>
                        <tr class="h-18 hover:bg-gray-100 dark:hover:bg-hover" mat-row
                            *matRowDef="let scheme; columns: batchExamTableColumns;"></tr>
                    </table>

                </div>

            </ng-container>

            <mat-paginator (page)="handlePageEvent($event)" [length]="batchExamCount" [pageSize]="pageSize"
                [showFirstLastButtons]="showFirstLastButtons" [pageSizeOptions]="pageSizeOptions"
                [pageIndex]="pageIndex">
            </mat-paginator>

        </div>

    </div>

</div>

<!-- Assessor Modal -->
<div *ngIf="showAssessorModal"
    class="overflow-x-hidden overflow-y-auto fixed inset-0 z-999 outline-none focus:outline-none justify-center items-center flex backdrop-filter backdrop-blur-sm md:backdrop-blur-lg -backdrop-hue-rotate-15">
    <div class="relative w-auto my-5 mx-auto max-w-6xl">
        <!--content-->
        <div
            class="border-0 rounded-lg shadow-lg relative flex flex-col w-full outline-none focus:outline-none bg-white">
            <!--header-->
            <div
                class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t bg-primary text-white">
                <h3 class="text-3xl font-semibold">
                    Assign Assessor
                </h3>
                <button
                    class="p-1 ml-auto border-0 float-right text-3xl leading-none font-semibold outline-none focus:outline-none"
                    (click)="toggleModal()">
                    <span class="h-6 w-6 text-3xl block outline-none focus:outline-none">
                        X
                    </span>
                </button>
            </div>
            <!--body-->
            <div class="mx-5 w-200 p-6 text-center">
                <mat-form-field class="w-100">
                    <mat-select [(ngModel)]="assessorSelect">
                        <input style="height: 40px; padding: 5px; width: 100%;" (keyup)="filterAssessor($event)">
                        <mat-option *ngFor="let assessors of assessorList" [value]="assessors.id">
                            {{assessors.user?.first_name}}&nbsp;{{assessors.user?.last_name}}
                        </mat-option>
                        <mat-option *ngIf="assessorList.length === 0">No Assessor found</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <!--footer-->
            <div class="flex items-center justify-end p-5 border-t border-solid border-blueGray-200 rounded-b">
                <button mat-flat-button [color]="'primary'" (click)="assignAssessor('Assessor')">
                    Save Changes
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Exam Modal -->
<div *ngIf="showExamModal"
    class="overflow-x-hidden overflow-y-auto fixed inset-0 z-999 outline-none focus:outline-none justify-center items-center flex backdrop-filter backdrop-blur-sm md:backdrop-blur-lg -backdrop-hue-rotate-15">
    <div class="relative w-auto my-5 mx-auto max-w-6xl">
        <!--content-->
        <div
            class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
            <!--header-->
            <div
                class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t bg-primary text-white">
                <h3 class="text-3xl font-semibold">
                    Change Exam Date
                </h3>
                <button
                    class="p-1 ml-auto border-0 float-right text-3xl leading-none font-semibold outline-none focus:outline-none"
                    (click)="toggleExamModal()">
                    <span class="h-6 w-6 text-3xl block outline-none focus:outline-none">
                        X
                    </span>
                </button>
            </div>
            <!--body-->
            <div class="mx-5 w-200 p-6 text-center">
                <mat-form-field class="fuse-mat-dense w-1/2">
                    <mat-label>Exam Start Date</mat-label>
                    <input matInput [ngxMatDatetimePicker]="picker" [(ngModel)]="StartDate" placeholder="Choose a date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #picker showSpinners="true" showSeconds="1" stepHour="1" stepMinute="1"
                        stepSecond="1" [enableMeridian]="true">
                        <ng-template>
                            <span>OK</span>
                        </ng-template>
                    </ngx-mat-datetime-picker>
                </mat-form-field>
                &nbsp;
                <mat-form-field class="fuse-mat-dense w-1/2">
                    <mat-label>Exam End Date</mat-label>
                    <input matInput [ngxMatDatetimePicker]="picker2" placeholder="Choose a date" [(ngModel)]="EndDate"
                        [min]="StartDate">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #picker2 showSpinners="true" showSeconds="1" stepHour="1" stepMinute="1"
                        stepSecond="1" [enableMeridian]="true">
                        <ng-template>
                            <span>OK</span>
                        </ng-template>
                    </ngx-mat-datetime-picker>
                </mat-form-field>
            </div>
            <!--footer-->
            <div class="flex items-center justify-end p-5 border-t border-solid border-blueGray-200 rounded-b">
                <button mat-flat-button [color]="'primary'" (click)="assignAssessor('ExamDate')">
                    Save Changes
                </button>
            </div>
        </div>
    </div>
</div>
