<div class="flex-auto p-6 absolute inset-0 overflow-auto bg-card dark:bg-transparent">
    <div class="absolute inset-x-0 top-0" *ngIf="isLoading">
        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
    </div>
    <form class="w-auto mt-4 px-8 pt-10 bg-card shadow-md rounded overflow-hidden" [formGroup]="paperForm">
        <div class="text-3xl font-extrabold tracking-tight">
            {{isNew?'Add':'Update'}} Paper
        </div>
        <mat-divider class="mt-5 mb-10"></mat-divider>
        <div class="flex flex-row mt-5">
            <div class="flex-auto flex-col">
                <div class="flex flex-col">
                    <div class="flex flex-row gap-5">
                        <mat-form-field class="fuse-mat-dense flex-auto">
                            <mat-label>Paper Name</mat-label>
                            <input matInput formControlName="paperName" required>
                        </mat-form-field>
                        <mat-form-field class="fuse-mat-dense flex-auto">
                            <mat-label>Total Marks</mat-label>
                            <input matInput formControlName="totalMarks" [(ngModel)]="marks" required>
                        </mat-form-field>
                    </div>
                    <div class="flex flex-col">
                        <div formArrayName="noOfQuestion">
                            <div *ngFor="let question of questions().controls; let i=index" [formGroupName]="i">
                                <div class="flex flex-row gap-5 w-auto">
                                    <mat-form-field class="fuse-mat-dense flex-auto">
                                        <mat-label>Number of questions</mat-label>
                                        <input maxlength="3" (keyup)="onChangeWeightage()" [(ngModel)]="count[i]"
                                            matInput numbersOnly required type="number" [formControlName]="'count'">
                                    </mat-form-field>
                                    <mat-form-field class="fuse-mat-dense flex-auto">
                                        <mat-label>Weightage per question</mat-label>
                                        <input maxlength="5" [(ngModel)]="weightage[i]" matInput required
                                            (keyup)="onChangeWeightage()" type="text" [formControlName]="'weightage'">
                                    </mat-form-field>
                                    <a mat-flat-button [color]="'warn'" matTooltip="Remove Question"
                                        *ngIf="questions().controls.length !== 1" [matTooltipPosition]="'above'"
                                        class="mt-6 p-2" (click)="removeQuestion(i)">-</a>
                                </div>
                            </div>
                            <span *ngIf="marks !== 0 && totalMarks !== 0">
                                <span style="color: red;" *ngIf="marks - totalMarks > 0">
                                    Total Weightage: {{totalMarks}}
                                </span>
                                <span style="color: red;" *ngIf="marks - totalMarks < 0">
                                    Total Weightage: {{totalMarks}}
                                </span>
                                <span style="color: green;" *ngIf="marks - (totalMarks) === 0">
                                    Total Weightage: {{marks}}
                                </span>
                            </span>
                        </div>
                        <a mat-flat-button [color]="'primary'" matTooltip="Add Question" [matTooltipPosition]="'above'"
                            class="mb-3 mx-auto p-2" (click)="addQuestion()">+</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex items-center justify-center w-full border-t px-8 py-4">
            <div class="flex items-center mr-2">
                <button mat-flat-button (click)="addUpdatePaper()" [color]="'primary'">
                    {{isNew ? 'Save' : 'Update'}}
                </button>
            </div>
            <div class="flex items-center ml-2">
                <button mat-flat-button routerLink="/papers" [color]="'primary'">
                    Cancel
                </button>
            </div>
        </div>
    </form>
</div>
