<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Loader -->
        <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">Questions Bank Management</div>
        <!-- Actions -->
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50 mr-2" *ngIf="sectors">
                <mat-select [formControl]="selectSector" placeholder="Sector" #singleSelect (selectionChange)="onChangeSectorSelect($event)">
                    <mat-option>
                        <ngx-mat-select-search [formControl]="inputFilterCtrl" placeholderLabel="Search Sector">
                        </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let item of sectors | async" [value]="item.id">
                        {{item.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50" >
                <mat-select [formControl]="selectCtrl" placeholder="Jobrole" #singleSelect
                    (selectionChange)="onChangeJobRoleSelect($event)">
                    <mat-option>
                        <ngx-mat-select-search [formControl]="inputFilterCtrl" placeholderLabel="Search jobrole">
                        </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let item of jobroles | async" [value]="item.id">
                        {{item.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <!-- Add sector button -->
            <a href='./../../../assets/doc/question-bank-bulk-upload.csv' target="_blank" class="ml-4" mat-flat-button
                [color]="'primary'" matTooltip="Download Question sample sheet">
                <mat-icon [svgIcon]="'heroicons_outline:download'"></mat-icon>
                <span>Sample</span>
            </a>
            <span (click)="exportQuestion()"><a target="_blank" class="ml-4" mat-flat-button
                [color]="'primary'" matTooltip="Download Question List">
                <mat-icon [svgIcon]="'heroicons_outline:download'"></mat-icon>
               
            </a> </span>
            
            <button class="ml-4" mat-flat-button [color]="'primary'" routerLink="add-question">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Add</span>
            </button>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">

        <!-- Scheme list -->
        <div class="flex flex-col flex-auto sm:mb-5 overflow-hidden">

            <ng-container *ngIf="questionCount !== 0 && !isLoading">

                <!-- Table wrapper -->
                <div class="overflow-auto" cdkScrollable>

                    <!-- Table -->
                    <table class="w-full table-fixed bg-transparent" mat-table matSort [matSortActive]="'name'"
                        [matSortDisableClear]="true" [matSortDirection]="'asc'" [multiTemplateDataRows]="true"
                        [dataSource]="questions$" [trackBy]="trackByFn">

                        <!-- JobRole -->
                        <ng-container matColumnDef="JobRole">
                            <th class="w-30 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell
                                *matHeaderCellDef disableClear>
                                Job Role Name
                            </th>
                            <td class="pr-8 truncate" mat-cell *matCellDef="let rule">
                                {{rule.job_role.name}}
                            </td>
                        </ng-container>

                        <!-- Sector -->
                        <ng-container matColumnDef="Sector">
                            <th class="w-30 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell
                                *matHeaderCellDef disableClear>
                                Sector Name
                            </th>
                            <td class="pr-8 truncate" mat-cell *matCellDef="let rule">
                                {{rule.job_role.sector.name}}
                            </td>
                        </ng-container>
                        <!-- Nos -->
                        <ng-container matColumnDef="Nos">
                            <th class="w-30 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell
                                *matHeaderCellDef disableClear>
                                Nos Name
                            </th>
                            <td class="pr-8 truncate" mat-cell *matCellDef="let rule">
                                {{rule.nos?.name}}
                            </td>
                        </ng-container>

                        <!-- Question -->
                        <ng-container matColumnDef="Question">
                            <th class="w-100 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell
                                *matHeaderCellDef disableClear>
                                Question
                            </th>
                            <td class="pr-8 truncate" mat-cell *matCellDef="let rule">
                                <ng-container *ngFor="let item of rule.question_locales">
                                    {{item.text}}
                                    <br>
                                </ng-container>
                            </td>
                        </ng-container>

                        <!-- weightage -->
                        <ng-container matColumnDef="weightage">
                            <th class="w-20 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell
                                *matHeaderCellDef disableClear>
                                Weightage
                            </th>
                            <td class="pr-8 truncate text-center" mat-cell *matCellDef="let item">
                                {{item.weightage}}
                            </td>
                        </ng-container>

                        <!-- Difficulty Level -->
                        <ng-container matColumnDef="difficultyLevel">
                            <th class="w-20 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell
                                *matHeaderCellDef disableClear>
                                Difficulty Level
                            </th>
                            <td class="pr-8 truncate text-center" mat-cell *matCellDef="let item">
                                {{item.difficulty_level}}
                            </td>
                        </ng-container>

                        <!-- languages -->
                        <ng-container matColumnDef="languages">
                            <th class="w-20 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell
                                *matHeaderCellDef disableClear>
                                Language
                            </th>
                            <td class="pr-8 truncate" mat-cell *matCellDef="let rule">
                                <ng-container *ngFor="let item of rule.question_locales">
                                    {{item.locale.name}}
                                    <br>
                                </ng-container>
                            </td>
                        </ng-container>

                        <!-- Details -->
                        <!-- <ng-container matColumnDef="actions">
                            <th class="w-20 pl-3 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell
                                *matHeaderCellDef>
                                Actions
                            </th>
                            <td class="pr-8" mat-cell *matCellDef="let item">
                                <button mat-icon-button (click)="openDialog(item.id)">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                                </button>
                            </td>
                        </ng-container> -->

                        <tr class="shadow" mat-header-row *matHeaderRowDef="questionTableColumns; sticky: true"></tr>
                        <tr class="h-18 hover:bg-gray-100 dark:hover:bg-hover" mat-row
                            *matRowDef="let scheme; columns: questionTableColumns;"></tr>
                    </table>

                </div>

                <mat-paginator (page)="handlePageEvent($event)" [length]="questionCount" [pageSize]="pageSize"
                    [showFirstLastButtons]="showFirstLastButtons" [pageSizeOptions]="pageSizeOptions"
                    [pageIndex]="pageIndex">
                </mat-paginator>

            </ng-container>

            <ng-container *ngIf="questionCount === 0 && !isLoading">
                <h3 *ngIf="jobRoleModel" class="text-center m-10">No data found related to selected Job Role.</h3>
                <h3 *ngIf="!jobRoleModel" class="text-center m-10">Please select Job Role.</h3>
            </ng-container>

        </div>

    </div>

</div>
