.previewImage{
    height: 100px;
    width: 100px;
    position: relative;
}
.previewImage img{
    height: 100px;
    width: 100px;
}
.previewImage span{
    top: -15px;
    right: -15px;
    position: absolute;
}