<div class="flex-auto p-6 absolute inset-0 overflow-auto bg-card dark:bg-transparent">
    <form class="w-200 mt-4 px-8 pt-10 bg-card shadow rounded overflow-hidden" [formGroup]="assessorForm"
        (ngSubmit)="addUpdateAssessor()">
        <div class="text-3xl font-extrabold tracking-tight">
            {{isNew?'Add Assessor':'Update Assessor'}}
        </div>
        <div class="flex-auto flex-col">
            <mat-divider class="my-5"></mat-divider>
            <div class="gt-xs:max-w-80 gt-xs:pr-12">
                <p class="text-lg font-bold mt-5">Personal Information</p>
            </div>
            <mat-divider class="mt-4 mb-12"></mat-divider>
            <div class="flex flex-col">
                <div class="w-1/2 mb-5" *ngIf="!picUrl">
                    <label for="assessorImage">Assessor Image</label>
                    <input type="file" accept=".png, .jpg, .jpeg" id="assessorImage" class="mt-3"
                        (change)="selectFile($event.target.files,'pic_url')">
                </div>
                <div *ngIf="picUrl" class="mb-5">
                    <div class="previewImage">
                        <img [src]="picUrl">
                        <span class="text-red-500 cursor-pointer font-bold" (click)="removeImage('picUrl')">
                            X
                        </span>
                    </div>
                    <!-- <label for="picUrlId">Assessor Image</label>
                    <br>
                    <span class="group">
                        <a [href]="picUrl" target="_blank" class="text-blue-900 text-lg font-bold overflow-ellipsis" id="picUrlId">{{picUrl}}</a>
                    </span> -->
                </div>
            </div>
            <div class="flex flex-col">
                <div class="flex flex-row gap-5">
                    <mat-form-field class="fuse-mat-dense flex-auto">
                        <mat-label>First Name</mat-label>
                        <input matInput [formControlName]="'first_name'">
                        <mat-error *ngIf="submitted && f.first_name.errors">
                            <mat-error *ngIf="f.first_name.errors.required">First Name is required</mat-error>
                            </mat-error>
                    </mat-form-field>
                    <mat-form-field class="fuse-mat-dense flex-auto">
                        <mat-label>Last Name</mat-label>
                        <input matInput [formControlName]="'last_name'">
                    </mat-form-field>
                </div>
            </div>
            <div class="flex flex-col">
                <div class="flex flex-row gap-5">
                    <mat-form-field class="fuse-mat-dense flex-auto">
                        <mat-label>Father Name</mat-label>
                        <input matInput [formControlName]="'father_name'">
                    </mat-form-field>
                    <mat-form-field class="fuse-mat-dense flex-auto">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" [formControlName]="'email'">
                        <mat-error *ngIf="submitted && f.email.errors">
                            <mat-error *ngIf="f.email.errors.required">Email is required</mat-error>
                            </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="flex flex-col">
                <div class="flex flex-row gap-5">
                    <mat-form-field class="fuse-mat-dense flex-auto">
                        <mat-label>Contact No</mat-label>
                        <input matInput type="text" numbersOnly maxLength="10" [formControlName]="'contact_no'">
                        <mat-error *ngIf="submitted && f.contact_no.errors">
                            <mat-error *ngIf="f.contact_no.errors.required">Contact No is required</mat-error>
                            </mat-error>
                    </mat-form-field>
                    <mat-form-field class="fuse-mat-textarea flex-auto">
                        <mat-label>Address</mat-label>
                        <input matInput [formControlName]="'address'">
                    </mat-form-field>
                </div>
            </div>

            <div class="gt-xs:max-w-80 gt-xs:pr-12">
                <p class="text-lg font-bold mt-5">Documents</p>
            </div>
            <mat-divider class="mt-4 mb-12"></mat-divider>

            <div class="flex flex-col">
                <div class="flex flex-row gap-5">
                    <mat-form-field class="fuse-mat-dense flex-auto w-1/2">
                        <mat-label>Adhaar No</mat-label>
                        <input matInput type="text" numbersOnly maxLength="12" [formControlName]="'adhaar_no'">
                    </mat-form-field>
                    <div class="w-1/2 mb-5">
                        <div *ngIf="!adhaarImgUrl">
                            <label for="adhaarImage">Adhaar Image</label>
                            <input type="file" accept=".png, .jpg, .jpeg" id="adhaarImage" class="mt-3"
                                (change)="selectFile($event.target.files,'adhaar_img_url')">
                        </div>
                        <div *ngIf="adhaarImgUrl">
                            <div class="previewImage">
                                <img [src]="adhaarImgUrl">
                                <span class="text-red-500 cursor-pointer font-bold"
                                    (click)="removeImage('adhaarImgUrl')">
                                    X
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="flex flex-col">
                <div class="flex flex-row gap-5">
                    <mat-form-field class="fuse-mat-dense flex-auto w-1/2">
                        <mat-label>Voter Id</mat-label>
                        <input matInput [formControlName]="'voter_id'">
                    </mat-form-field>
                    <div class="w-1/2 mb-5" *ngIf="!voterIdImgUrl">
                        <label for="voterIdImage">Voter Id Image</label>
                        <input type="file" accept=".png, .jpg, .jpeg" id="voterIdImage" class="mt-3"
                            (change)="selectFile($event.target.files,'voter_id_img_url')">
                    </div>
                    <div *ngIf="voterIdImgUrl" class="w-1/2 mb-5">
                        <div class="previewImage">
                            <img [src]="voterIdImgUrl">
                            <span class="text-red-500 cursor-pointer font-bold" (click)="removeImage('voterIdImgUrl')">
                                X
                            </span>
                        </div>

                    </div>
                </div>
            </div> -->
            <div class="flex flex-col">
                <div class="flex flex-row gap-5">
                    <mat-form-field class="fuse-mat-dense flex-auto w-1/2">
                        <mat-label>Qualification</mat-label>
                        <input matInput [formControlName]="'qualification'">
                    </mat-form-field>
                    <div class="w-1/2 mb-5" *ngIf="!qualificationDocImgUrl">
                        <label for="qualificationImage">Qualification Image</label>
                        <input type="file" accept=".png, .jpg, .jpeg" id="qualificationImage" class="mt-3"
                            (change)="selectFile($event.target.files,'qualification_doc_img_url')">
                    </div>
                    <div *ngIf="qualificationDocImgUrl" class="w-1/2 mb-5">
                        <div class="previewImage">
                            <img [src]="qualificationDocImgUrl">
                            <span class="text-red-500 cursor-pointer font-bold"
                                (click)="removeImage('qualificationDocImgUrl')">
                                X
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col">
                <div class="flex flex-row gap-5">
                    <mat-form-field class="fuse-mat-dense flex-auto w-1/2">
                        <mat-label>Experience</mat-label>
                        <input matInput type="text" numbersOnly maxLength="2" [formControlName]="'experience'">
                    </mat-form-field>
                    <div class="w-1/2 mb-5" *ngIf="!experienceCertificateImgUrl">
                        <label for="experienceCertificateId">Experience Certificate</label>
                        <input type="file" accept=".png, .jpg, .jpeg" id="experienceCertificateId" class="mt-3"
                            (change)="selectFile($event.target.files,'experience_certificate_img_url')">
                    </div>
                    <div *ngIf="experienceCertificateImgUrl" class="w-1/2 mb-5">
                        <div class="previewImage">
                            <img [src]="experienceCertificateImgUrl">
                            <span class="text-red-500 cursor-pointer font-bold"
                                (click)="removeImage('experienceCertificateImgUrl')">
                                X
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col">
                <div class="flex flex-row gap-5">
                    <mat-form-field class="fuse-mat-dense flex-auto w-1/2">
                        <mat-label>Designation</mat-label>
                        <input matInput [formControlName]="'designation'">
                    </mat-form-field>
                    <div class="w-1/2 mb-5" *ngIf="!voterIdImgUrl">
                        <label for="resume">Assessor Resume</label>
                        <input type="file" id="resume" class="mt-3"
                            (change)="selectFile($event.target.files,'voter_id_img_url')">
                    </div>
                    <div *ngIf="voterIdImgUrl" class="w-1/2 mt-8">
                        <div class="flex flex-row">
                            <div class="w-1/2">
                                <p *ngIf="voterIdImgUrl[0] === 'https:'; else elseBlock">
                                    {{voterIdImgUrl[voterIdImgUrl.length - 1]}}
                                </p>
                                <ng-template #elseBlock>{{voterIdImgUrl}}</ng-template>
                            </div>
                            <div class="w-1/2 float-left">
                                <span class="text-red-500 cursor-pointer font-bold"
                                    (click)="removeImage('voterIdImgUrl')">
                                    X
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col">
                <div class="flex flex-row gap-5">
                    <mat-form-field class="fuse-mat-dense flex-auto w-1/2">
                        <mat-label>TOA</mat-label>
                        <input matInput [formControlName]="'toa'">
                    </mat-form-field>
                    <div class="w-1/2 mb-5" *ngIf="!toaCertificateImgUrl">
                        <label for="toa">TOA  Image </label>
                        <input type="file" accept=".png, .jpg, .jpeg" id="toa" class="mt-3"
                            (change)="selectFile($event.target.files,'toa_url')">
                    </div>
                    <div *ngIf="toaCertificateImgUrl" class="w-1/2 mb-5">
                        <div class="previewImage">
                            <img [src]="toaCertificateImgUrl">
                            <span class="text-red-500 cursor-pointer font-bold"
                                (click)="removeImage('toaCertificateImgUrl')">
                                X
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col">
                <div class="flex flex-row gap-5">
                    
                    <mat-form-field class="w-90">
                        <mat-label>TOA Validity</mat-label>
                        <input matInput [matDatepicker]="picker" [min]="todayDate" placeholder="End date" [formControlName]="'toa_end_date'" #dateRangEnd (dateChange)="dateRangeChange( dateRangEnd)">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                      
                    <!-- <mat-form-field class="w-90">
                        <mat-label>TOA Validity </mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                          <input matStartDate placeholder="Start date"  [formControlName]="'toa_start_date'" #dateRangeStart>
                          <input matEndDate placeholder="End date" [formControlName]="'toa_end_date'" #dateRangEnd (dateChange)="dateRangeChange(dateRangeStart, dateRangEnd)">
                        </mat-date-range-input>
                        <mat-hint>Start Data – End Date</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                      </mat-form-field> -->
                      
                  
                </div>
            </div>
            <div class="gt-xs:max-w-80 gt-xs:pr-12">
                <p class="text-lg font-bold mt-5">Assessor</p>
            </div>
            <mat-divider class="mt-4 mb-12"></mat-divider>

            <div class="flex flex-col">
                <div class="flex flex-row gap-5">
                    <mat-form-field class="fuse-mat-dense flex-auto">
                        <mat-label>State</mat-label>
                        <mat-select [formControlName]="'state_id'"  #singleSelect
                            (selectionChange)="onSelectState($event.value)">
                            <mat-option>
                                <ngx-mat-select-search [formControl]="inputSearchStateCtrl"
                                    placeholderLabel="Search State">
                                </ngx-mat-select-search>
                            </mat-option>
                            <mat-option value="" selected>Select State</mat-option>
                            <mat-option *ngFor="let item of states | async" [value]="item.id">
                                {{item.state_name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="submitted && f.state_id.errors">
                            <mat-error *ngIf="f.state_id.errors.required">State is required</mat-error>
                            </mat-error>
                    </mat-form-field>
                    <mat-form-field class="fuse-mat-dense flex-auto">
                            <mat-label>City</mat-label>
                            <mat-select [formControlName]="'city_id'"  #singleSelect>
                                <mat-option>
                                    <ngx-mat-select-search [formControl]="inputSearchCityCtrl"
                                        placeholderLabel="Search City">
                                    </ngx-mat-select-search>
                                </mat-option>
                                <mat-option value="" selected>Select City</mat-option>
                                <mat-option *ngFor="let item of cities | async" [value]="item.id">
                                    {{item.city_name}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="submitted && f.city_id.errors">
                                <mat-error *ngIf="f.city_id.errors.required">City is required</mat-error>
                                </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="flex flex-col">
                <div class="flex flex-row gap-5">
                    <mat-form-field class="fuse-mat-dense flex-auto">
                        <mat-label>Sector Name</mat-label>
                        <mat-select [formControlName]="'sector_id'" (selectionChange)="onSelectSector($event.value )">
                            <mat-option value="" selected>Select Sector</mat-option>
                            <ng-container *ngFor="let item of sectorsId | async">
                                <mat-option [value]="item.id">
                                    {{item.name}}
                                </mat-option>
                            </ng-container>
                        </mat-select>
                        <mat-error *ngIf="submitted && f.sector_id.errors">
                            <mat-error *ngIf="f.sector_id.errors.required">Sector is required</mat-error>
                            </mat-error>
                    </mat-form-field>
                    <mat-form-field class="fuse-mat-dense flex-auto">
                        <mat-label>Job Role Name</mat-label>
                        <mat-select [formControlName]="'jobrole_id'" >
                            <mat-option value="" selected>Select Job Role</mat-option>
                            <ng-container *ngFor="let item of jobrolId | async">
                                <mat-option [value]="item.id">
                                    {{item.name}}
                                </mat-option>
                            </ng-container>
                        </mat-select>
                        <mat-error *ngIf="submitted && f.jobrole_id.errors">
                            <mat-error *ngIf="f.jobrole_id.errors.required">job Role is required</mat-error>
                            </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="gt-xs:max-w-80 gt-xs:pr-12">
                <p class="text-lg font-bold mt-5">Bank Details</p>
            </div>
            <mat-divider class="mt-4 mb-12"></mat-divider>

            <div class="flex flex-col">
                <div class="flex flex-row gap-5">
                    <mat-form-field class="fuse-mat-dense flex-auto">
                        <mat-label>Account Holder Name</mat-label>
                        <input matInput [formControlName]="'account_holder_name'">
                    </mat-form-field>
                    <mat-form-field class="fuse-mat-dense flex-auto">
                        <mat-label>Account Number</mat-label>
                        <input matInput type="text" numbersOnly maxLength="15" [formControlName]="'account_number'">
                    </mat-form-field>
                </div>
            </div>
            <div class="flex flex-col">
                <div class="flex flex-row gap-5">
                    <mat-form-field class="fuse-mat-dense flex-auto">
                        <mat-label>Bank</mat-label>
                        <input matInput [formControlName]="'bank'">
                    </mat-form-field>
                    <mat-form-field class="fuse-mat-dense flex-auto">
                        <mat-label>Ifsc Code</mat-label>
                        <input matInput [formControlName]="'ifsc'">
                    </mat-form-field>
                </div>
            </div>
            <div class="flex flex-col">
                <mat-form-field class="fuse-mat-dense flex-auto">
                    <mat-label>Branch Name</mat-label>
                    <input matInput [formControlName]="'branch'">
                </mat-form-field>
            </div>

            <div class="gt-xs:max-w-80 gt-xs:pr-12">
                <p class="text-lg font-bold mt-5">Other Details</p>
            </div>
            <mat-divider class="mt-4 mb-12"></mat-divider>

            <div *ngIf="isNew" class="flex flex-col">
                <div class="flex flex-row gap-5">
                    <mat-form-field class="fuse-mat-dense flex-auto">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" [formControlName]="'password'">
                        <mat-error *ngIf="submitted && f.password.errors">
                            <mat-error *ngIf="f.password.errors.required">Password is required</mat-error>
                            <mat-error *ngIf="f.password.errors.minlength">Password must be at least 6 characters
                            </mat-error>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="fuse-mat-dense flex-auto">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput type="password" [formControlName]="'confirmPassword'">
                        <mat-error *ngIf="f.confirmPassword.errors">
                            <mat-error *ngIf="f.confirmPassword.errors.required">Confirm Password is required
                            </mat-error>
                            <mat-error *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</mat-error>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="flex flex-col">
                <div class="flex flex-row gap-5">
                    <mat-form-field class="fuse-mat-dense flex-auto">
                        <mat-label>Applied For</mat-label>
                        <input matInput [formControlName]="'applied_for'">
                    </mat-form-field>
                </div>
            </div>
            <div class="flex flex-col">
                <mat-form-field class="fuse-mat-textarea flex-auto">
                    <mat-label>Remark</mat-label>
                    <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="3"
                        [formControlName]="'remark'"></textarea>
                </mat-form-field>
            </div>
            <div class="flex flex-row justify-center mb-3">
                <button class="flex px-6" mat-flat-button type="submit" [color]="'primary'">
                    {{isNew?'Save':'Update'}}
                </button>
                <button class="flex px-4 ml-3" mat-flat-button type="submit" [color]="'primary'" routerLink="/assessor">
                    Cancel
                </button>
            </div>
        </div>
    </form>
</div>
