<div class="flex-auto bg-white overflow-hidden">
    <div class="w-full mt-5 max-w-screen-xl mx-auto">
        <div class="absolute inset-x-0 top-0" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <div class="flex-1 min-w-0 pl-5">
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <button mat-button class="whitespace-nowrap text-primary-500" (click)="goBack()">
                        Back
                    </button>
                </div>
            </div>
            <div class="mt-2" *ngIf="candidateDetails.length !== 0">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    <h1 class="ng-star-inserted">
                        Candidate details :-
                        {{ candidateDetails.user.first_name }}&nbsp;{{
                        candidateDetails.user.last_name
                        }}
                    </h1>
                </h2>
            </div>
        </div>
        <div class="p-5" *ngIf="candidateDetails.length !== 0">
            <div class="flex-col">
                <div class=" grid grid-cols-4 gap-1 place-items-start h-auto border rounded py-5 px-5">
                    <div class="p-3">
                        <div class="mb-2">
                            <div class="mb-2">
                                <b>Candidate Batch Id</b>:
                                {{ candidateDetails?.batch?.batch_id }}
                            </div>
                            <b>Candidate Id</b>:
                            {{ candidateDetails.candidate_id }}
                        </div>
                        <div class="mb-2">
                            <b>Contact No.</b>:
                            {{ candidateDetails.contact_no }}
                        </div>
                        
                        <div *ngIf="videoRecordedUrl">
                            <button mat-button class="whitespace-nowrap text-primary-500">
                                <a [href]="videoRecordedUrl" target="_blank">View Recorded Video</a>
                            </button>
                        </div>
                    </div>
                    <ng-container *ngIf="addharAndSelfie">
                        <div class="imagesAddhar mx-auto" style="width: 180px; height: 130px"
                            *ngFor="let item of addharAndSelfie">
                            <img [src]="item.Key" style="width: 180px; height: 130px; object-fit: cover;" />
                        </div>
                    </ng-container>
                    <!-- <ng-container *ngIf="isLiveStreaming">
                        <div class="mx-auto" id="myVideo">
                            <video height="150" width="175" [src]="videoTracks" #myVideo></video>
                        </div>
                    </ng-container> -->
                    <!-- <ng-container *ngIf="!isLiveStreaming && !closedLiveStream && !getLiveStream">
                        <div class="mx-auto pt-13">
                            <button mat-button class="whitespace-nowrap text-primary-500 m-auto"
                                (click)="getLiveStreamData()">Connect live stream</button>
                        </div>
                    </ng-container> -->
                    <ng-container *ngIf="!isLiveStreaming && !closedLiveStream && getLiveStream">
                        <div class="mx-auto">
                            <span>
                                Getting live stream
                            </span>
                            <div class="pt-5">
                                <mat-spinner color="warn" class="m-auto" [diameter]="50"></mat-spinner>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
        <div>
            <mat-tab-group class="px-2" [animationDuration]="'0'" (selectedTabChange)="selectedTabValue($event)">
                <mat-tab label="Snapshots">
                    <div class="mb-5 text-center">
                        <button mat-raised-button color="primary" (click)="getSnapshots()">
                            Refresh
                        </button>
                    </div>
                    <div class="grid grid-cols-5 gap-2">
                        <div *ngFor="let item of snapshotImages; let i = index">
                            <img [lazyLoad]="item.Key" style="height: 150px; width: 210px" />
                            <span>{{ item.Name | date: "medium" }}</span>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Theory">
                    <div class="my-2 text-center" *ngIf="!candidateResult && !isLoading">
                        <button mat-raised-button color="primary" (click)="getResult()">Show Result</button>
                    </div>
                    <table class="w-full table-auto text-center border-collapse border border-gray-200 rounded"
                        *ngIf="candidateResult">
                        <thead>
                            <tr>
                                <th class="border border-gray-200 p-3 bg-gray-300">
                                    Sr No.
                                </th>
                                <th class="border border-gray-200 p-3 bg-gray-300">
                                    Question
                                </th>
                                <th class="border border-gray-200 p-3 bg-gray-300">
                                    Weightage
                                </th>
                                <!-- <th class="border border-gray-200 p-3 bg-gray-300">
                                    Actual Answer
                                </th> -->
                                <th class="border border-gray-200 p-3 bg-gray-300">
                                    Attempted Answer
                                </th>
                                <th class="border border-gray-200 p-3 bg-gray-300">
                                    Wrong/Right
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="
                                    let result of candidateResult;
                                    let i = index
                                " class="text-center">
                                <td class="border border-gray-200">{{ i + 1 }}</td>
                                <td class="border border-gray-200">
                                    <span *ngIf="
                                            result.question?.img_url;
                                            else textCase
                                        ">
                                        <img [lazyLoad]="result.question.img_url" style="width: 100px; height: 100px" />
                                    </span>
                                    <ng-template #textCase>
                                        {{
                                            result.question?.question_locales[0]
                                                .text
                                        }}
                                    </ng-template>
                                </td>
                                <td class="border border-gray-200">
                                    {{ result.question?.weightage }}
                                </td>
                                <!-- <td class="border border-gray-200">
                                    <span *ngIf="
                                            result.question?.options[0].img_url;
                                            else textActualOptionCase
                                        ">
                                        <img [lazyLoad]="
                                                result.question.options[0].img_url
                                            " style="width: 100px; height: 100px" />
                                    </span>
                                    <ng-template #textActualOptionCase>
                                        {{
                                            result.question?.options[0]
                                                .option_locales[0].text
                                        }}
                                    </ng-template>
                                </td> -->
                                <td class="border border-gray-200">
                                    <span *ngIf="
                                            result.option.img_url;
                                            else textAttemptedOptionCase
                                        ">
                                        <img [lazyLoad]="result.option.img_url" style="width: 100px; height: 100px" />
                                    </span>
                                    <ng-template #textAttemptedOptionCase>
                                        {{ result.option.option_locales[0].text }}
                                    </ng-template>
                                </td>
                                <td class="border border-gray-200">
                                    <span *ngIf="result.isCorrect; else elseBlock">
                                        <mat-icon style="color: green" [svgIcon]="'heroicons_outline:check'">
                                        </mat-icon>
                                    </span>
                                    <ng-template #elseBlock>
                                        <mat-icon style="color: red" [svgIcon]="'heroicons_outline:x'"></mat-icon>
                                    </ng-template>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center font-bold w-full" *ngIf="candidateResult && candidateResult.length === 0">
                        <h3>No data to show!</h3>
                    </div>
                </mat-tab>
                <mat-tab label="Feedback">
                    <table class="table-auto text-center border-collapse border border-gray-200 rounded w-full"
                        *ngIf="feedbackData">
                        <thead>
                            <tr>
                                <th class="border border-gray-200 p-3 bg-gray-300">
                                    Sr No.
                                </th>
                                <th class="border border-gray-200 p-3 bg-gray-300">
                                    Question
                                </th>
                                <th class="border border-gray-200 p-3 bg-gray-300">
                                    Answer
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let result of feedbackData; let i = index" class="text-center">
                                <td class="border border-gray-200">{{ i + 1 }}</td>
                                <td class="border border-gray-200">
                                    {{ result.text }}
                                </td>
                                <td class="border border-gray-200">
                                    {{ result.feedback_answers[0].answer }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </mat-tab>
                <mat-tab label="logs">
                    <div *ngIf="candidateLogs">
                        <!-- <div class="mb-5 text-center">
                            <button mat-raised-button color="primary" (click)="getLogs()">
                                Refresh
                            </button>
                        </div> -->
                        <table class="table-auto text-center border-collapse border border-gray-200 rounded w-full
                            ">
                            <thead>
                                <tr>
                                    <th class="border border-gray-200 p-3 bg-gray-300">
                                        Sr No.
                                    </th>
                                    <th class="border border-gray-200 p-3 bg-gray-300">
                                        Candidate Id
                                    </th>
                                    <th class="border border-gray-200 p-3 bg-gray-300">
                                        Action
                                    </th>
                                    <th class="border border-gray-200 p-3 bg-gray-300">
                                        Device Type
                                    </th>
                                    <th class="border border-gray-200 p-3 bg-gray-300">
                                        App Version
                                    </th>
                                    <th class="border border-gray-200 p-3 bg-gray-300">
                                        Device Info
                                    </th>
                                    <th class="border border-gray-200 p-3 bg-gray-300">
                                        Browser
                                    </th>
                                    <th class="border border-gray-200 p-3 bg-gray-300">
                                        Time
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-center" *ngFor="let item of candidateLogs; let i = index">
                                    <td class="border border-gray-200">{{ i + 1 }}</td>
                                    <td class="border border-gray-200">
                                        {{ candidateDetails.candidate_id }}
                                    </td>
                                    <td class="border border-gray-200">
                                        {{ item.log_type | titlecase }}
                                    </td>
                                    <td class="border border-gray-200">
                                        <span *ngFor="let logintype of loginTypeValue">
                                            <span *ngIf="logintype.id === item.device_type">
                                                {{logintype.name | titlecase}}
                                            </span>
                                        </span>
                                    </td>
                                    <td class="border border-gray-200">
                                        {{item.app_version?item.app_version:'N/A'}}
                                    </td>
                                    <td class="border border-gray-200">
                                        {{item.device_info?item.device_info:'N/A'}}
                                    </td>
                                    <td class="border border-gray-200">
                                        {{item.agent?item.agent:'N/A'}}
                                    </td>
                                    <td class="border border-gray-200 w-50">
                                        {{ item.createdAt | date: "medium" }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="text-center font-bold w-full" *ngIf="candidateLogs.length === 0">
                            <h3>No data to show!</h3>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Practical">
                    <ng-container *ngIf="candidatePractical">
                        <table class=" table-auto text-center border-collapse border border-gray-200 rounded w-full">
                            <thead>
                                <tr>
                                    <th class="border border-gray-200 p-3 bg-gray-300 ">
                                        Image
                                    </th>
                                    <th class="border border-gray-200 p-3 bg-gray-300">
                                        Aadhar Card
                                    </th>
                                    <th class="border border-gray-200 p-3 bg-gray-300">
                                        Practical Photo
                                    </th>
                                    <th class="border border-gray-200 p-3 bg-gray-300">
                                        Practical Video
                                    </th>
                                    <th class="border border-gray-200 p-3 bg-gray-300">
                                        Viva Video
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-center">
                                    <td class="border border-gray-200" *ngIf="candidatePractical.img_url">
                                        <img [src]="candidatePractical.img_url"
                                            style="max-width: 100px;max-height: 100px;" />
                                    </td>
                                    <td class="border border-gray-200" *ngIf="candidatePractical.adhaar_card_url">
                                        <img [src]="candidatePractical.adhaar_card_url" style="
                                                max-width: 100px;
                                                max-height: 100px;
                                            " />
                                    </td>
                                    <td class="border border-gray-200" *ngIf="candidatePractical.practical_img_url">
                                        <img [src]="
                                                candidatePractical.practical_img_url
                                            " style="
                                                max-width: 100px;
                                                max-height: 100px;
                                            " />
                                    </td>
                                    <td class="border border-gray-200" *ngIf="candidatePractical.practical_video_url">
                                        <button mat-button class="
                                                whitespace-nowrap
                                                text-primary-500
                                            ">
                                            <a [href]="
                                                    candidatePractical.practical_video_url
                                                " target="_blank">View</a>
                                        </button>
                                    </td>
                                    <td class="border border-gray-200" *ngIf="candidatePractical.viva_video_url">
                                        <button mat-button class="
                                                whitespace-nowrap
                                                text-primary-500
                                            ">
                                            <a [href]="
                                            candidatePractical.viva_video_url
                                                " target="_blank">View</a>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </ng-container>
                </mat-tab>
                <mat-tab label="Videos">
                    <div class="mb-5 text-center">
                        <button mat-raised-button color="primary" (click)="getVideoRecording()">
                            Refresh
                        </button>
                    </div>
                    <div class="grid grid-cols-5 gap-2">
                        <div *ngFor="let item of candidatesVideos">
                            <div>
                                <video controls autoplay="autoplay" style="height: 150px; width: 210px;">
                                    <source [src]="item.Key" type="video/webm" />
                                </video>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
