<div class="absolute inset-0 flex flex-col min-w-0 overflow-auto bg-card dark:bg-transparent">
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <div>
            <span class="font-bold text-3xl">Upload Questions</span>
        </div>
    </div>
    <div class="mt-3">
        <div class="ml-5 mr-5">
            <div class="grid grid-cols-3 gap-3">
                <div class="text-center">
                    <mat-form-field class="fuse-mat-dense w-80">
                        <mat-label>Sector</mat-label>
                        <mat-select [(ngModel)]="selectedSector" (selectionChange)="onSelectSector($event.value)">
                            <mat-option value="" selected>
                                Select Sector
                            </mat-option>
                            <mat-option [value]="item.id" *ngFor="let item of sector">{{item.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="text-center">
                    <mat-form-field class="fuse-mat-dense w-80">
                        <mat-label>Job Role</mat-label>
                        <mat-select [(ngModel)]="selectedJobRole" (selectionChange)="onSelectJobRole($event.value)">
                            <mat-option value="" selected>Select Job Role</mat-option>
                            <mat-option [value]="item.id" *ngFor="let item of arrayJobRole">{{item.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="text-center">
                    <mat-form-field class="fuse-mat-dense w-80">
                        <mat-label>Nos</mat-label>
                        <mat-select [(ngModel)]="selectedNos">
                            <mat-option value="" selected>Select Nos</mat-option>
                            <mat-option [value]="item.id" *ngFor="let item of arrayNos">{{item.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="text-center my-5">
                <input #myInput *ngIf="selectedSector && selectedJobRole && selectedNos" type="file" placeholder="Upload file" name="filename" (change)="uploadedFile($event)" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
            </div>
        </div>
    </div>
    <div *ngIf="questionDataLength > 0">
        <div class="flex flex-row">
            <div class="flex mx-auto">
                <button
                    class="mr-1"
                    mat-flat-button
                    [color]="'primary'"
                    (click)="uploadQuestions()">
                    <mat-icon [svgIcon]="'heroicons_outline:upload'"></mat-icon>
                    <span>Upload Questions</span>
                </button>
                <button
                    class="ml-1"
                    mat-flat-button
                    [color]="'primary'"
                    (click)="onClickCancel()">
                    <span>Cancel</span>
                </button>
            </div>
        </div>
        <table class="table-auto mx-auto text-center border-collapse border border-gray-200 my-5" *ngIf="showData">
            <tbody>
                <tr class="border border-gray-200 p-3" *ngFor="let row of showData">
                    <td class="border border-gray-200 p-2" *ngFor="let val of row">
                        {{val}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>