<div class="flex-auto p-6 absolute inset-0 overflow-auto bg-card dark:bg-transparent">
    <div class="absolute inset-x-0 top-0" *ngIf="isLoading">
        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
    </div>
    <form [formGroup]="batchForm">
        <div class="flex flex-row overflow-hidden">
            <div class="w-1/2 px-5 mt-5 mr-5 py-5 bg-card shadow-md rounded">
                <div class="text-3xl font-extrabold tracking-tight">
                    {{isNew?'Add':'Update'}} Batch
                </div>
                <mat-divider class="my-5"></mat-divider>
                <div class="gt-xs:max-w-80 gt-xs:pr-12">
                    <p class="text-2xl font-bold mt-5">Batch Information</p>
                </div>
                <mat-divider class="mt-5 mb-10"></mat-divider>
                <div class="flex flex-row mt-5">
                    <div class="flex-auto flex-col">
                        <div class="flex flex-col">
                            <div class="flex flex-row">
                                <div class="flex-auto">
                                    <input type="checkbox" class="cursor-pointer" [checked]="generateBatchId"
                                        (change)="onCheckBatchId($event.target.checked)" /> Manually generate batch id
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col">
                            <div class="flex flex-row gap-5">
                                <mat-form-field class="fuse-mat-dense flex-auto">
                                    <mat-label>Name</mat-label>
                                    <input matInput required [formControlName]="'name'">
                                </mat-form-field>
                                <mat-form-field class="fuse-mat-dense flex-auto" *ngIf="generateBatchId">
                                    <mat-label>Batch Id</mat-label>
                                    <input matInput [formControlName]="'batch_id'" required [(ngModel)]="autoName">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="flex flex-col">
                            <div class="flex flex-row gap-5">
                                <mat-form-field class="fuse-mat-dense flex-auto">
                                    <mat-label>Sector Name</mat-label>
                                    <mat-select [formControlName]="'sector_id'" required>
                                        <mat-option value="" selected>Select Sector</mat-option>
                                        <ng-container *ngFor="let item of sectors">
                                            <mat-option [value]="item.id">
                                                {{item.name}}
                                            </mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field class="fuse-mat-dense flex-auto">
                                    <mat-label>Job Role Name</mat-label>
                                    <mat-select [formControlName]="'job_role_id'" required>
                                        <mat-option value="" selected>Select Job Role</mat-option>
                                        <ng-container *ngFor="let item of jobRoles">
                                            <mat-option [value]="item.id">
                                                {{item.name}}
                                            </mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>

                                
                            </div>
                        </div>
                        <div class="flex flex-col">
                            <div class="flex flex-row gap-5">
                                <mat-form-field class="fuse-mat-dense flex-auto">
                                    <mat-label>State</mat-label>
                                    <mat-select [formControlName]="'state'" required #singleSelect
                                        (selectionChange)="onSelectState($event.value)">
                                        <mat-option>
                                            <ngx-mat-select-search [formControl]="inputSearchStateCtrl"
                                                placeholderLabel="Search State">
                                            </ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option value="" selected>Select State</mat-option>
                                        <mat-option *ngFor="let item of states | async" [value]="item.id">
                                            {{item.state_name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field class="fuse-mat-dense flex-auto">
                                    <mat-label>City</mat-label>
                                    <mat-select [formControlName]="'city'" required #singleSelect>
                                        <mat-option>
                                            <ngx-mat-select-search [formControl]="inputSearchCityCtrl"
                                                placeholderLabel="Search City">
                                            </ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option value="" selected>Select City</mat-option>
                                        <mat-option *ngFor="let item of cities | async" [value]="item.id">
                                            {{item.city_name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="flex flex-col">
                            <div class="flex flex-row gap-5">
                                <mat-form-field class="fuse-mat-dense flex-auto">
                                    <mat-label>Assessor Name</mat-label>
                                    <mat-select [formControlName]="'assessor_id'">
                                        <mat-option value="" selected>
                                            Select Assessor
                                        </mat-option>
                                        <ng-container *ngFor="let item of assessors">
                                            <mat-option [value]="item.id">
                                                {{item.first_name}}
                                            </mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field class="fuse-mat-dense flex-auto">
                                    <mat-label>Scheme Name</mat-label>
                                    <mat-select [formControlName]="'scheme_id'" required>
                                        <mat-option value="" selected>Select Scheme</mat-option>
                                        <ng-container *ngFor="let item of schemes">
                                            <mat-option [value]="item.id">
                                                {{item.name}}
                                            </mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>
                                
                            </div>
                        </div>
                        <div class="flex flex-col">
                            <div class="flex flex-row gap-5">
                                <mat-form-field class="fuse-mat-dense flex-auto">
                                    <mat-label>Exam Rule Name</mat-label>
                                    <mat-select [formControlName]="'exam_rule_id'" required>
                                        <mat-option value="" Selected>Select Exam Rule</mat-option>
                                        <ng-container *ngFor="let item of examRules">
                                            <mat-option [value]="item.id">
                                                {{item.name}}
                                            </mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field class="fuse-mat-dense flex-auto">
                                    <mat-label>Paper Set</mat-label>
                                    <mat-select (selectionChange)="onSelectPaper($event.value)"
                                        [formControlName]="'paper_id'">
                                        <mat-option value="" Selected>Select Paper Set</mat-option>
                                        <ng-container *ngFor="let item of paperSet">
                                            <mat-option [value]="item.id">
                                                {{item.name}}
                                            </mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                      
                        <div class="flex flex-col">
                            <div class="flex flex-row gap-5">
                                <mat-form-field class="fuse-mat-dense flex-auto">
                                    <mat-label>TP Name</mat-label>
                                    <input matInput required [formControlName]="'tp_name'">
                                </mat-form-field>
                                <mat-form-field class="fuse-mat-dense flex-auto">
                                    <mat-label>TC Name</mat-label>
                                    <input matInput required [formControlName]="'tc_name'">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="flex flex-col">
                            <div class="flex flex-row gap-5">
                                <mat-form-field class="fuse-mat-dense flex-auto">
                                    <mat-label>TP Email</mat-label>
                                    <input type="email" matInput required [formControlName]="'tp_email'">
                                    <mat-error *ngIf="err.tp_email.errors">
                                        <span *ngIf="err.tp_email.errors.required">TP Email is required</span>
                                        <span *ngIf="err.tp_email.errors.email">Please enter a valid email</span>
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field class="fuse-mat-dense flex-auto">
                                    <mat-label>Coordinator Name</mat-label>
                                    <input matInput required [formControlName]="'coordinator_name'">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="flex flex-col">
                            <div class="flex flex-row gap-5">
                                <mat-form-field class="fuse-mat-dense flex-auto">
                                    <mat-label>Coordinator Contact No</mat-label>
                                    <input matInput required type="text" maxlength="10" numbersOnly
                                        [formControlName]="'coordinator_contact_no'">
                                    <mat-error *ngIf="err.coordinator_contact_no.errors">
                                        <span *ngIf="err.coordinator_contact_no.errors.required">Contact no is
                                            required</span>
                                        <span *ngIf="err.coordinator_contact_no.errors.minlength">Contact no must have
                                            10 letters long</span>
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field class="fuse-mat-dense flex-auto">
                                    <mat-label>Coordinator Contact No 2</mat-label>
                                    <input matInput required type="text" maxlength="10" numbersOnly
                                        [formControlName]="'coordinator_contact_no_2'">
                                    <mat-error *ngIf="err.coordinator_contact_no_2.errors">
                                        <span *ngIf="err.coordinator_contact_no_2.errors.required">Contact no 2 is
                                            required</span>
                                        <span *ngIf="err.coordinator_contact_no_2.errors.minlength">Contact no 2 must
                                            have 10 letters long</span>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="flex flex-col">
                            <div class="flex flex-row gap-5">
                                <mat-form-field class="fuse-mat-dense flex-auto">
                                    <mat-label>TP Address</mat-label>
                                    <input matInput required [formControlName]="'tp_address'">
                                </mat-form-field>
                            </div>
                        </div>
                        <!-- <div class="gt-xs:max-w-80 gt-xs:pr-12">
                            <p class="text-2xl font-bold mt-5">Batch Address</p>
                        </div>
                        <mat-divider class="mt-5 mb-10"></mat-divider>
                        <div class="flex flex-row gap-5">
                                <mat-form-field class="fuse-mat-dense flex-auto">
                                    <mat-label>Latitude</mat-label>
                                    <input matInput placeholder="Ex:22.7103637" type="number" step="0.01" [formControlName]="'latitude'">
                                </mat-form-field>
                                <mat-form-field class="fuse-mat-dense flex-auto">
                                    <mat-label>Longitude</mat-label>
                                    <input matInput placeholder="Ex:75.8417637" type="number" step="0.01"  [formControlName]="'longitude'">
                                </mat-form-field>
                            </div>
                            <div class="flex flex-row gap-5">
                                <mat-form-field class="fuse-mat-dense flex-auto">
                                    <mat-label>Distance</mat-label>
                                    <input matInput placeholder="In Miters" type="number"  [formControlName]="'allowed_range'">
                                </mat-form-field>
                        
                            </div> -->
                        
                        <div class="gt-xs:max-w-80 gt-xs:pr-12">
                            <p class="text-2xl font-bold mt-5">Exam Information</p>
                        </div>
                        <mat-divider class="mt-5 mb-10"></mat-divider>
                        <div class="flex flex-col">
                            <div class="flex flex-row gap-5">
                                <mat-form-field class="fuse-mat-dense w-1/2">
                                    <mat-label>Exam Start Date</mat-label>
                                    <input matInput [ngxMatDatetimePicker]="picker" [(ngModel)]="startDate"
                                        placeholder="Choose a date" [formControlName]="'start_date'">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <ngx-mat-datetime-picker #picker showSpinners="true" showSeconds="1" stepHour="1"
                                        stepMinute="1" stepSecond="1" [enableMeridian]="true">
                                        <ng-template>
                                            <span>OK</span>
                                        </ng-template>
                                    </ngx-mat-datetime-picker>
                                </mat-form-field>
                                <mat-form-field class="fuse-mat-dense w-1/2">
                                    <mat-label>Exam End Date</mat-label>
                                    <input matInput [ngxMatDatetimePicker]="picker2" placeholder="Choose a date"
                                        [formControlName]="'end_date'" [min]="startDate">
                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <ngx-mat-datetime-picker #picker2 showSpinners="true" showSeconds="1" stepHour="1"
                                        stepMinute="1" stepSecond="1" [enableMeridian]="true">
                                        <ng-template>
                                            <span>OK</span>
                                        </ng-template>
                                    </ngx-mat-datetime-picker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="flex flex-col">
                            <div class="flex flex-row gap-5">
                                <mat-form-field class="fuse-mat-dense w-1/2">
                                    <mat-label>Exam Language</mat-label>
                                    <mat-select [formControlName]="'locales'" [(ngModel)]="disableLanguageSelect"
                                        multiple required>
                                        <mat-option
                                            [disabled]="disableLanguageSelect.length >= 2 && !disableLanguageSelect.includes(item.id)"
                                            [value]="item.id" *ngFor="let item of language; let i = index">
                                            {{item.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field class="fuse-mat-dense w-1/2">
                                    <mat-label>Exam Type</mat-label>
                                    <mat-select [formControlName]="'type'" required>
                                        <mat-option value="" selected>Select Exam Type</mat-option>
                                        <mat-option [value]="item.id" *ngFor="let item of examType">
                                            {{item.name | titlecase}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="flex flex-col">
                            <div class="flex flex-row gap-5">
                                <mat-form-field class="fuse-mat-dense w-1/2"
                                    matTooltip="You can't update total marks here, Please update your paper set"
                                    [matTooltipPosition]="'above'">
                                    <mat-label>Total Marks</mat-label>
                                    <input matInput [(ngModel)]="Marks" readonly required maxlength="5" numbersOnly
                                        [formControlName]="'total_marks'">
                                </mat-form-field>
                                <mat-form-field class="fuse-mat-dense w-1/2">
                                    <mat-label>Exam Time (in hours)</mat-label>
                                    <input type="number" matInput required [formControlName]="'time'">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="flex flex-col">
                            <div formArrayName="no_of_question">
                                <div *ngFor="let question of questions().controls; let i=index" [formGroupName]="i">
                                    <div class="flex flex-row gap-5 w-auto">
                                        <mat-form-field class="fuse-mat-dense flex-auto"
                                            matTooltip="You can't update number of questions here, Please update your paper set"
                                            [matTooltipPosition]="'above'">
                                            <mat-label>Number of questions</mat-label>
                                            <input maxlength="3" (keyup)="onChangeWeightage()" [(ngModel)]="count[i]"
                                                matInput readonly numbersOnly required type="number"
                                                [formControlName]="'count'">
                                        </mat-form-field>
                                        <mat-form-field
                                            matTooltip="You can't update weightage here, Please update your paper set"
                                            [matTooltipPosition]="'above'" class="fuse-mat-dense flex-auto">
                                            <mat-label>Weightage per question</mat-label>
                                            <input maxlength="3" [(ngModel)]="weightage[i]" matInput numbersOnly
                                                required readonly (keyup)="onChangeWeightage()" type="number"
                                                [formControlName]="'weightage'">
                                        </mat-form-field>
                                        <!-- <a mat-flat-button [color]="'warn'" matTooltip="Remove Question"
                                            [disabled]="true" [matTooltipPosition]="'above'" class="mt-6 p-2">-</a> -->
                                    </div>
                                </div>
                                <!-- <span *ngIf="Marks !== 0 && totalMarks !== 0">
                                    <span style="color: red;" *ngIf="Marks - totalMarks > 0">
                                        Total Weightage: {{totalMarks}}
                                    </span>
                                    <span style="color: red;" *ngIf="Marks - totalMarks < 0">
                                        Total Weightage: {{totalMarks}}
                                    </span>
                                    <span style="color: green;" *ngIf="Marks - (totalMarks) === 0">
                                        Total Weightage: {{Marks}}
                                    </span>
                                </span> -->
                            </div>
                            <!-- <a mat-flat-button [color]="'primary'" matTooltip="Add Question"
                                [matTooltipPosition]="'above'" [disabled]="true" class="mb-3 mx-auto p-2">+</a> -->
                        </div>
                        <div class="flex flex-row justify-center mt-3">
                            <button class="flex px-6" mat-flat-button type="submit" (click)="addUpdateBatch()"
                                [color]="'primary'">
                                {{isNew?'Save':'Update'}}
                            </button>
                            <button class="flex px-4 ml-3" mat-flat-button type="submit" [color]="'primary'"
                                routerLink="/batch-exam">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-1/2 h-full px-5 mt-5 py-5 bg-card shadow rounded">
                <div class="text-3xl font-extrabold tracking-tight">
                    Document Links
                </div>
                <mat-divider class="my-5"></mat-divider>
                <div>
                    <mat-form-field class="w-full">
                        <mat-label>Annexure-M (With Center Seal & Sign) and
                            (With Assessor Sign)</mat-label>
                        <input matInput required [formControlName]="'annexure_m_url'">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="w-full">
                        <mat-label>Assessor Feedback Form (With Assessor Sign)</mat-label>
                        <input matInput required [formControlName]="'assessor_feedback_form_url'">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="w-full">
                        <mat-label>Assessor Declaration (With Assessor Sign)</mat-label>
                        <input matInput required [formControlName]="'assessor_declaration_form_url'">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="w-full">
                        <mat-label>Center in charge Declaration (With Center
                            Seal & Sign)</mat-label>
                        <input matInput required [formControlName]="'center_incharge_declaration_from_url'">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="w-full">
                        <mat-label>Candidate Feedback form from each candidate
                            (With Center Seal & Sign) and (with Candidate Sign)</mat-label>
                        <input matInput required [formControlName]="'candidate_feedback_form_url'">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="w-full">
                        <mat-label>Center Feedback Form (With Center Seal &
                            Sign)</mat-label>
                        <input matInput required [formControlName]="'center_feedback_form_url'">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="w-full">
                        <mat-label>Annexure - N (With Center Seal & Sign) and
                            (With Candidate Sign)</mat-label>
                        <input matInput required [formControlName]="'annexure_n_url'">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="w-full">
                        <mat-label>Declaration of Center if Lab Equipments are
                            not available (With Center Seal & Sign)</mat-label>
                        <input matInput required [formControlName]="'no_equipment_declaration_url'">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="w-full">
                        <mat-label>Declaration if documents are not available(With Center Seal & Sign)</mat-label>
                        <input matInput required [formControlName]="'no_document_declaration_url'">
                    </mat-form-field>
                </div>
            </div>
        </div>
    </form>
</div>
