<div class="absolute inset-0 flex flex-col min-w-0 overflow-auto bg-card dark:bg-transparent">

    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <div>
            <span class="font-bold text-3xl">Upload Candidates</span>
        </div>
    </div>
    <div *ngIf="batchData">
        <h3 class="font-bold text-2xl py-2 px-6 md:px-8">
            Batch Id :- {{batchData.batch_id}}
        </h3>
    </div>
    <div class="mx-auto mt-3">
        <div class="m-5">
            <input #myInput type="file" placeholder="Upload file" name="filename" (change)="uploadedFile($event)"
                accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
        </div>
    </div>
    <div *ngIf="candidateDataLength > 0">
        <div class="flex flex-row">
            <div class="flex mx-auto">
                <button class="mr-1" mat-flat-button [color]="'primary'" (click)="uploadCandidates()">
                    <mat-icon [svgIcon]="'heroicons_outline:upload'"></mat-icon>
                    <span>Upload Candidates</span>
                </button>
                <button class="ml-1" mat-flat-button [color]="'primary'" (click)="onClickCancel()">
                    <span>Cancel</span>
                </button>
            </div>
        </div>
        <table class="table-auto text-center mx-auto border-collapse border border-gray-200 my-5">
            <thead>
                <tr class="border border-gray-200 p-3 bg-gray-300">
                    <th class="border border-gray-200 p-3 bg-gray-300 w-30">Candidate Id</th>
                    <th class="border border-gray-200 p-3 bg-gray-300 w-30">Candidate First Name</th>
                    <th class="border border-gray-200 p-3 bg-gray-300 w-30">Candidate Last Name</th>
                    <th class="border border-gray-200 p-3 bg-gray-300 w-50">Candidate Father Name</th>
                    <th class="border border-gray-200 p-3 bg-gray-300 w-50">Candidate Email</th>
                    <th class="border border-gray-200 p-3 bg-gray-300 w-50">Candidate Mobile Number</th>
                    <th class="border border-gray-200 p-3 bg-gray-300 w-40">Enrollment Number</th>
                </tr>
            </thead>
            <tbody>
                <tr class="border border-gray-200" *ngFor="let item of candidateData;let i = index">
                    <td class="border border-gray-200">{{item.Candidate_Id}}</td>
                    <td class="border border-gray-200">{{item.Candidate_First_Name}}</td>
                    <td class="border border-gray-200">{{item.Candidate_Last_Name}}</td>
                    <td class="border border-gray-200">{{item.Candidate_Father_Name}}</td>
                    <td class="border border-gray-200">{{item.Candidate_Email}}</td>
                    <td class="border border-gray-200">{{item.Candidate_Mobile_Number}}</td>
                    <td class="border border-gray-200">{{item.Enrollment_Number}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
