<div class="flex-auto p-6 absolute inset-0 overflow-auto bg-card dark:bg-transparent">
    <form class="w-200 mt-4 px-8 pt-10 bg-card shadow-md rounded overflow-hidden" [formGroup]="selectedExamRulesForm"
        (ngSubmit)="addUpdateExamRule()">
        <div class="text-3xl font-extrabold tracking-tight">
            {{isNew?'Add Exam Rules':'Update Exam Rules'}}
        </div>
        <mat-divider class="my-5"></mat-divider>
        <div class="flex flex-col">
            <div class="flex-auto flex-col w-auto">
                <div class="flex flex-col">
                    <div class="flex flex-row gap-5">
                        <mat-form-field class="fuse-mat-dense flex-auto">
                            <mat-label>Rule Name</mat-label>
                            <input matInput [formControlName]="'name'" required>
                            <mat-error
                                *ngIf="selectedExamRulesForm.controls.name.errors?.required || selectedExamRulesForm.controls.name.invalid">
                                <div *ngIf="selectedExamRulesForm.controls.name.errors?.required">
                                    Name is required
                                </div>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="fuse-mat-dense flex-auto">
                            <mat-label>Password Type</mat-label>
                            <mat-select [formControlName]="'password_type'" required>
                                <mat-option value="Auto">Auto Generate</mat-option>
                                <mat-option value="Manual">Manually Type</mat-option>
                            </mat-select>
                            <mat-error
                                *ngIf="selectedExamRulesForm.controls.password_type.errors?.required || selectedExamRulesForm.controls.password_type.invalid">
                                <div *ngIf="selectedExamRulesForm.controls.password_type.errors?.required">
                                    Password Type is required
                                </div>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="flex flex-col">
                    <div class="flex flex-row">
                        <mat-checkbox class="w-1/2 mb-5" [color]="'primary'" (change)="onCheckSnapshot()"
                            [formControlName]="'takeSnapshot'">
                            Take Snapshot of Candidate
                        </mat-checkbox>
                        <mat-checkbox class="w-1/2 ml-5 mb-5" [color]="'primary'" (change)="onCheckTakeVideo()"
                            [formControlName]="'takeVideo'">
                            Take Video
                        </mat-checkbox>
                    </div>
                </div>
                <div class="flex flex-col">
                    <div class="flex flex-row gap-5">
                        <mat-form-field *ngIf="showSnapshot" class="left-0 w-90">
                            <mat-label>Time Interval of Snapshot in Seconds</mat-label>
                            <input matInput type="text" numbersOnly maxlength="3"
                                [formControlName]="'snapshot_interval'">
                            <mat-error
                                *ngIf="selectedExamRulesForm.controls.snapshot_interval.errors?.required || selectedExamRulesForm.controls.snapshot_interval.invalid">
                                <div *ngIf="selectedExamRulesForm.controls.snapshot_interval.errors?.required">
                                    Interval of Snapshot is required
                                </div>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field *ngIf="showTakeVideo" class="right-0 w-90">
                            <mat-label>Set Video Capturing Time in Minutes</mat-label>
                            <input matInput type="text" numbersOnly maxlength="3"
                                [formControlName]="'video_start_time'">
                            <mat-error
                                *ngIf="selectedExamRulesForm.controls.video_start_time.errors?.required || selectedExamRulesForm.controls.video_start_time.invalid">
                                <div *ngIf="selectedExamRulesForm.controls.video_start_time.errors?.required">
                                    View Capturing time is required
                                </div>
                                <div *ngIf="selectedExamRulesForm.controls.video_start_time.errors?.min">
                                    View Capturing time should be greater then or equal to 1
                                </div>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="flex flex-col">
                    <div class="flex flex-row gap-5">
                        <mat-form-field class="fuse-mat-dense flex-auto">
                            <mat-label>Set Video Time</mat-label>
                            <mat-select [formControlName]="'video_duration'">
                                <mat-option [value]="1">1 Minutes</mat-option>
                                <mat-option [value]="2">2 Minutes</mat-option>
                                <mat-option [value]="3">3 Minutes</mat-option>
                                <mat-option [value]="4">4 Minutes</mat-option>
                                <mat-option [value]="5">5 Minutes</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="fuse-mat-dense flex-auto">
                            <mat-label>No of Attempts for tab switch</mat-label>
                            <input matInput type="text" numbersOnly [formControlName]="'tab_switch'">
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-3 mt-3">
            <mat-checkbox class="mb-5" [color]="'primary'" [formControlName]="'showResult'">
                Show Result
            </mat-checkbox>
            <mat-checkbox class="mb-5" [color]="'primary'" [formControlName]="'questionRandomise'">
                Question Randomisation
            </mat-checkbox>
            <mat-checkbox class="mb-5" [color]="'primary'" [formControlName]="'optionRandomise'">
                Answer Randomisation
            </mat-checkbox>
            <mat-checkbox class="custom-checkbox mb-5" [color]="'primary'" [formControlName]="'isOffline'">
                <span class="custom-checkbox-text">Exam type Online</span>
                <br>
                <span class="custom-checkbox-subtext">(Internet connection is mandatory for this exam by clicking checkbox)</span>
              </mat-checkbox>
            <mat-checkbox class="mb-5" [color]="'primary'" [formControlName]="'detailsRequired'">
                Details Mandatory
            </mat-checkbox>
            <mat-checkbox class="mb-5" [color]="'primary'" [formControlName]="'geoRange'">
                Login within Geo Range
            </mat-checkbox>
            <mat-checkbox class="mb-5" [color]="'primary'" [formControlName]="'loginOnTime'">
                Login on Particular Date and Time Range
            </mat-checkbox>
            <mat-checkbox class="mb-5" [color]="'primary'" [formControlName]="'allAttemptsRequired'">
                Submit after attempting all questions
            </mat-checkbox>
            <mat-checkbox class="mb-5" [color]="'primary'" [formControlName]="'showMarksPerQuestion'">
                Show Marks Per Question
            </mat-checkbox>
        </div>
        <mat-divider class="my-5"></mat-divider>
        <h2 class="text-2xl font-extrabold tracking-tight mb-3">Examination Rules</h2>
        <ckeditor [formControlName]="'instructions'"></ckeditor>
        <div class="flex flex-row my-5 justify-center">
            <button class="flex px-6" mat-flat-button type="submit" [color]="'primary'">
                {{isNew?'Save':'Update'}}
            </button>
            <button class="flex px-6 ml-3" mat-flat-button type="submit" [color]="'primary'" routerLink="/exam-rules">
                Cancel
            </button>
        </div>
    </form>
</div>
