<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b overflow-auto">
        <!-- Loader -->
        <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">Assessors Management</div>
        <!-- Actions -->
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-30 mr-5 w-30" >
                <mat-select  [(ngModel)]="isSelectedSector"  #singleSelect (selectionChange)="onSelectState($event.value ,'sector')">
                    <mat-option value="" selected>Sector</mat-option>
                    <mat-option *ngFor="let item of sectors| async "[value]="item.id">
                        {{item.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-30 mr-5 w-30" *ngIf="isSelectedSector">
                <mat-select  [(ngModel)]="isSelectedJobRole"  #singleSelect (selectionChange)="onSelectState($event.value ,'jobRole')">
                    <mat-option value="" selected>Job-Role</mat-option>
                    <mat-option *ngFor="let item of jobRoleName" [value]="item.id">
                        {{item.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-25 mr-5 w-25">
              
                <mat-select [(ngModel)]="isSelectedState"  #singleSelect
                    (selectionChange)="onSelectState($event.value ,'state')">
                    <mat-option value="" selected>States</mat-option>
                    <mat-option *ngFor="let item of States " [value]="item.id">
                        {{item.state_name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-30 mr-5 w-30" *ngIf="isSelectedState">
                <mat-select  [(ngModel)]="isSelectedCity" #singleSelect (selectionChange)="onSelectState($event.value ,'city')">
                    <mat-option value="" selected> City</mat-option>
                    <mat-option *ngFor="let item of cityName" [value]="item.id">
                        {{item.city_name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
           
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-30 mr-5 w-50">
                <input matInput [matDatepicker]="picker" [min]="todayDate" [(ngModel)]="filterDate"   placeholder="Date" #dateRangEnd (dateChange)="addFilterToa($event.value)">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-30 mr-5 w-30">
                <!-- <mat-label>Certified Filter</mat-label> -->
                <mat-select [(ngModel)]="filterCertified" (selectionChange)="addFilterCertified($event.value)">
                    <mat-option value="" Selected>All</mat-option>
                    <mat-option value="true">Certified</mat-option>
                    <mat-option value="false">Not Certified</mat-option>
                </mat-select>
            </mat-form-field>
            <!-- Search -->
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-30 w-30">
                <mat-icon matPrefix [svgIcon]="'heroicons_outline:search'"></mat-icon>
                <input matInput (input)="filterSearch($event)" [autocomplete]="'off'"
                    [placeholder]="'Search Assessors'">
            </mat-form-field>
            <!-- Add sector button -->
            <button class="ml-4 " mat-flat-button [color]="'primary'"  routerLink="add-assessor">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Add</span>
            </button>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">

        <!-- Scheme list -->
        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden">

            <ng-container>

                <!-- Table wrapper -->
                <div class="overflow-x-auto sm:overflow-y-auto" cdkScrollable>

                    <!-- Table -->
                    <table class="w-full min-w-  table-fixed bg-transparent" mat-table matSort [matSortActive]="'name'"
                        [matSortDisableClear]="true" [matSortDirection]="'asc'" [multiTemplateDataRows]="true"
                        [dataSource]="assessors$" [trackBy]="trackByFn">

                        <!-- Assessor Name -->
                        <ng-container matColumnDef="name">
                            <th class="w-1/6 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell
                                *matHeaderCellDef disableClear>
                                Assessor Name
                            </th>
                            <td class="pr-8 truncate" mat-cell *matCellDef="let rule">
                                {{rule.user?.first_name}}&nbsp;{{rule.user?.last_name}}
                            </td>
                        </ng-container>

                        <!-- Email -->
                        <ng-container matColumnDef="email">
                            <th class="w-1/6 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell
                                *matHeaderCellDef disableClear>
                                Assessor Email
                            </th>
                            <td class="pr-8 truncate" mat-cell *matCellDef="let rule">
                                {{rule.user?.email}}
                            </td>
                        </ng-container>

                        <!-- certified -->
                        <ng-container matColumnDef="certified">
                            <th class="w-1/6 bg-gray-50 dark:bg-black dark:bg-opacity-5 text-center" mat-header-cell
                                *matHeaderCellDef disableClear>
                                Assessor Certified
                            </th>
                            <td class="pr-8 truncate" mat-cell *matCellDef="let rule">
                                <div class="flex justify-center cursor-pointer text-center">
                                    <mat-slide-toggle [color]="'primary'" [checked]="rule.isCertified"
                                        (change)="toggle(rule.id,$event.checked)">
                                    </mat-slide-toggle>
                                </div>
                            </td>
                        </ng-container>
                        <!-- Applied For -->
                        <ng-container matColumnDef="applied">
                            <th class="w-1/6 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell
                                *matHeaderCellDef disableClear>
                                Applied For
                            </th>
                            <td class="pr-8 truncate" mat-cell *matCellDef="let rule">
                                {{rule.applied_for}}
                            </td>
                        </ng-container>

                        <!-- Created Date -->
                        <ng-container matColumnDef="Review">
                            <th class="w-1/6 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell
                                *matHeaderCellDef disableClear>
                                Review Count
                            </th>
                            <td class="pr-8 truncate" mat-cell *matCellDef="let rule">
                                {{rule.review_count }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Rating">
                            <th class="w-1/6 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell
                                *matHeaderCellDef disableClear>
                                Rating
                            </th>
                            <td class="pr-8 truncate" mat-cell *matCellDef="let rule">
                                {{rule.avg_rating }} 
                            </td>
                        </ng-container>

                        <!-- Actions -->
                        <ng-container matColumnDef="actions">
                            <th class="w-1/6 pl-8 bg-gray-50 dark:bg-black dark:bg-opacity-5r" mat-header-cell
                                *matHeaderCellDef>
                                Actions
                            </th>
                            <td class="pr-8" mat-cell *matCellDef="let accessor">
                                <button mat-icon-button routerLink="update-assessor/{{accessor.id}}">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:pencil'"></mat-icon>
                                </button>
                                <button mat-icon-button (click)="openDialog(accessor.id)">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                                </button>
                                <button class="ml-auto" mat-icon-button [matMenuTriggerFor]="conversationHeaderMenu">
                                    <mat-icon [svgIcon]="'heroicons_outline:dots-vertical'"></mat-icon>
                                    <mat-menu #conversationHeaderMenu>
                                        <button mat-menu-item (click)="toggleAssessorModal(accessor.id)">
                                            <mat-icon [svgIcon]="'heroicons_outline:pencil'"></mat-icon>
                                            Change password
                                        </button>
                                    </mat-menu>
                                </button>
                            </td>
                        </ng-container>

                        <tr class="shadow" mat-header-row *matHeaderRowDef="assessorTableColumns; sticky: true"></tr>
                        <tr class="h-18 hover:bg-gray-100 dark:hover:bg-hover" mat-row
                            *matRowDef="let scheme; columns: assessorTableColumns;"></tr>
                    </table>

                </div>

            </ng-container>

        </div>

    </div>

</div>
<div *ngIf="showPopup"
    class="overflow-x-hidden overflow-y-auto fixed inset-0 z-999 outline-none focus:outline-none justify-center items-center flex backdrop-filter backdrop-blur-sm md:backdrop-blur-lg -backdrop-hue-rotate-15">
    <div class="relative w-auto my-5 mx-auto max-w-6xl">
        <!--content-->
        <div
            class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
            <!--header-->
            <div
                class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t bg-primary text-white">
                <h3 class="text-3xl font-semibold">
                    Reset Password
                </h3>
                <button
                    class="p-1 ml-auto border-0 float-right text-3xl leading-none font-semibold outline-none focus:outline-none"
                    (click)="toggleAssessorModal()">
                    <span class="h-6 w-6 text-3xl block outline-none focus:outline-none">
                        X
                    </span>
                </button>
            </div>
            <!--body-->
            <div class="mx-5 w-200 p-6 text-center">
                <form [formGroup]="passwordResetForm">
                    <mat-form-field class="w-1/2" appearance="outline">
                        <mat-label>New Password</mat-label>
                        <input matInput type="password" formControlName="newPassword" #passwordField
                            placeholder="New Password">
                        <button mat-icon-button type="button"
                            (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                            matSuffix>
                            <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'password'"
                                [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                            <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'text'"
                                [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                        </button>
                        <mat-error *ngIf="f.newPassword.errors && f.newPassword.dirty">
                            <mat-error *ngIf="f.newPassword.errors.required">Password is required</mat-error>
                            <mat-error *ngIf="f.newPassword.errors.minlength">Password must be at least 6 characters
                            </mat-error>
                        </mat-error>
                    </mat-form-field>
                    &nbsp;
                    <mat-form-field class="w-1/2" appearance="outline">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput type="password" formControlName="confirmPassword" #confirmPasswordField
                            placeholder="Confirm Pasword">
                        <button mat-icon-button type="button"
                            (click)="confirmPasswordField.type === 'password' ? confirmPasswordField.type = 'text' : confirmPasswordField.type = 'password'"
                            matSuffix>
                            <mat-icon class="icon-size-5" *ngIf="confirmPasswordField.type === 'password'"
                                [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                            <mat-icon class="icon-size-5" *ngIf="confirmPasswordField.type === 'text'"
                                [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                        </button>
                        <mat-error *ngIf="f.confirmPassword.errors">
                            <mat-error *ngIf="f.confirmPassword.errors.required">Confirm Password is required
                            </mat-error>
                            <mat-error *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</mat-error>
                        </mat-error>
                    </mat-form-field>
                </form>
            </div>
            <!--footer-->
            <div class="flex items-center justify-end p-5 border-t border-solid border-blueGray-200 rounded-b">
                <button mat-flat-button [color]="'primary'" (click)="resetPassword()">
                    Reset
                </button>
            </div>
        </div>
    </div>
</div>
