<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <p class="text-center pb-5 text-blue-500">Last updated on {{dashboardData.updatedAt | date : 'short'}}</p>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-6 w-full min-w-0">
            <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                <div class="flex justify-between">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate text-center">Total Students
                    </div>
                </div>
                <div class="flex flex-col items-center my-auto">
                    <div class="text-3xl sm:text-5xl font-bold tracking-tight leading-none text-blue-500">
                        {{dashboardData.candidateCount}}
                    </div>
                </div>
            </div>
            <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                <div class="flex justify-between">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate text-center">Total Batches
                    </div>
                </div>
                <div class="flex flex-col items-center my-auto">
                    <div class="text-3xl sm:text-5xl font-bold tracking-tight leading-none text-blue-500">
                        {{dashboardData.batchCount}}
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="grid grid-cols-1 mt-2 sm:grid-cols-2 md:grid-cols-2 gap-6 w-full min-w-0">
            <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                <div class="flex flex-col items-center my-auto">
                    <div class="text-3xl sm:text-5xl font-bold tracking-tight leading-none text-blue-500">
                        {{allotted}}
                    </div>
                    <div class="text-lg font-medium tracking-tight leading-6 truncate text-center mt-2">All Schemes</div>
                </div>
                <div class="bg-accent-100 text-3xl text-center mt-2"> Candidates Allotted</div>
            </div>
            <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
               
                <div class="flex flex-col items-center my-auto">
                    <div class="text-3xl sm:text-5xl font-bold tracking-tight leading-none text-blue-500">
                       {{assessed}}
                    </div>
                    <div class="text-lg font-medium tracking-tight leading-6 truncate text-center mt-2">Assessed</div>
                </div>
                <div class="bg-accent-100 text-3xl text-center mt-2 w-full">Candidates Assessed</div>
            </div>
            
        </div> -->
        <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden mt-3">
            <div class="flex justify-between">
                <div class="text-lg font-medium tracking-tight leading-6 truncate text-center">Today Batches
                </div>
            </div>
            <table class="w-full bg-transparent" mat-table matSort [dataSource]="tableBatchesDataSource"
                #recentTransactionsTable>

                <!-- Transaction ID -->
                <ng-container matColumnDef="batchName">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>
                        Batch Name
                    </th>
                    <td mat-cell *matCellDef="let batch">
                        <a class="pr-6 font-bold text-sm whitespace-nowrap"
                            [routerLink]="'/batch-exam/view-batch/'+batch.id">
                            {{batch.batchId}}
                        </a>
                    </td>
                </ng-container>

                <!-- Candidate -->
                <ng-container matColumnDef="count">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>
                        Candidate Count
                    </th>
                    <td mat-cell *matCellDef="let batch">
                        {{batch.candidateCount}}
                    </td>
                </ng-container>

                <!-- Status -->
                <ng-container matColumnDef="theory_submit">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>
                        Theory Submitted
                    </th>
                    <td mat-cell *matCellDef="let batch">
                        {{batch.theorySubmittedCount}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>
                      Status
                    </th>
                    <td mat-cell *matCellDef=" let batch; let i = index;">
                      {{statuses[i]}}
                    </td>
                  </ng-container>
                <tr mat-header-row *matHeaderRowDef="tableBatchesColumns"></tr>
                <tr class="order-row h-16 pr-8" mat-row *matRowDef="let row; columns: tableBatchesColumns;"></tr>
            </table>
        </div>
        <div class="p-6 bg-card shadow rounded-2xl mt-6">
            <div class="container sample">
                <div class="text-center">
                    <div class="m-auto">
                        <span id="legendTitle" class="text-3xl font-semibold">Assessments (Year wise)</span>
                    </div>
                </div>
                <div style="display: block;">
                    <div style="display: block;">
                        <canvas baseChart [datasets]="yearWiseBarChartData" [labels]="yearWiseBarChartLabels"
                            [options]="yearWiseBarChartOptions" [plugins]="yearWiseBarChartPlugins"
                            [legend]="yearWiseBarChartLegend" [chartType]="yearWiseBarChartType">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-6 bg-card shadow rounded-2xl mt-6">
            <div class="container sample">
                <!-- <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-6 w-full min-w-0"> -->
                <!-- <div class="m-auto">
                        <span id="legendTitle" class="font-semibold">Assessments (Month wise)</span>
                    </div> -->
                <div class="text-center">
                    <div class="m-auto">
                        <span id="legendTitle" class="text-3xl font-semibold">Assessments (Month wise)</span>
                    </div>
                </div>
                <!-- <div>
                        <mat-form-field class="w-full">
                            <mat-label>Select Month/Year</mat-label>
                            <mat-select [(ngModel)]="filterWise" (selectionChange)="onSelectFilter($event.value)">
                                <mat-option value="2020-2021">
                                    2020-2021
                                </mat-option>
                                <mat-option value="2021-2022">
                                    2021-2022
                                </mat-option>
                                <mat-option value="2022-2023">
                                    2022-2023
                                </mat-option>
                                <mat-option value="2023-2024">
                                    2023-2024
                                </mat-option>
                                <mat-option value="2024-2025">
                                    2024-2025
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div> -->
                <!-- </div> -->
                <div style="display: block;">
                    <div style="display: block;">
                        <canvas baseChart [datasets]="monthWiseBarChartData" [labels]="monthWiseBarChartLabels"
                            [options]="monthWiseBarChartOptions" [plugins]="monthWiseBarChartPlugins"
                            [legend]="monthWiseBarChartLegend" [chartType]="monthWiseBarChartType">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-6 bg-card shadow rounded-2xl mt-6">
            <div class="container sample">
                <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 gap-6 w-full min-w-0">
                    <div class="m-auto">
                        <span id="legendTitle" class="font-semibold text-3xl">Assessor Data</span>
                    </div>
                </div>
                <div style="display: block;">
                    <div style="display: block;">
                        <canvas baseChart [datasets]="assessorWisePieChartData" [labels]="assessorWisePieChartLabels"
                            [options]="assessorWisePieChartOptions" [plugins]="assessorWisePieChartPlugins"
                            [legend]="assessorWisePieChartLegend" [chartType]="assessorWisePieChartType">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
        <!-- CONTENT GOES HERE -->
        <div class="h-300 min-h-300 max-h-300 mt-6 rounded-2xl">
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-6 w-full min-w-0">
                <!-- <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                    <div class="flex justify-between">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate text-center">Total Students
                        </div>
                    </div>
                    <div class="flex flex-col items-center my-auto">
                        <div class="text-3xl sm:text-5xl font-bold tracking-tight leading-none text-blue-500">
                            {{dashboardData.candidateCount}}
                        </div>
                    </div>
                </div>
                <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                    <div class="flex justify-between">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate text-center">Total Batches
                        </div>
                    </div>
                    <div class="flex flex-col items-center my-auto">
                        <div class="text-3xl sm:text-5xl font-bold tracking-tight leading-none text-blue-500">
                            {{dashboardData.batchCount}}
                        </div>
                    </div>
                </div> -->

                <!-- <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                    <div class="flex justify-between">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate text-center">Top 10 batches
                        </div>
                    </div>
                    <table class="w-full bg-transparent" mat-table matSort [dataSource]="topBatchesDataSource"
                        #recentTransactionsTable>

                      
                        <ng-container matColumnDef="batchName">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                Batch Name
                            </th>
                            <td mat-cell *matCellDef="let batch">
                                <a class="pr-6 font-bold text-sm whitespace-nowrap"
                                    [routerLink]="'/batch-exam/view-batch/'+batch.id">
                                    {{batch.batch_id}}
                                </a>
                            </td>
                        </ng-container>

                 
                        <ng-container matColumnDef="date">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                Date
                            </th>
                            <td mat-cell *matCellDef="let batch">
                                <span class="pr-6 whitespace-nowrap">
                                    {{batch.createdAt | date:'short'}}
                                </span>
                            </td>
                        </ng-container>

                   
                        <ng-container matColumnDef="status">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                Published
                            </th>
                            <td mat-cell *matCellDef="let batch">
                                {{batch.isPublish?'Yes':'No'}}
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="topBatchesTableColumns"></tr>
                        <tr class="order-row h-16" mat-row *matRowDef="let row; columns: topBatchesTableColumns;"></tr>
                    </table>
                </div> -->
                
            </div>
        </div>

    </div>

</div>
