<!-- Main -->
<div class="flex-auto bg-white">
    <div class="w-full mt-5 max-w-screen-xl mx-auto">
        <div class="absolute inset-x-0 top-0" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <div class="flex flex-wrap" *ngIf="batchDetails.length !== 0">
            <div>
                <mat-tab-group class="px-2" [animationDuration]="'0'" (selectedTabChange)="selectedTabValue($event)">
                    <mat-tab label="Batch Details">
                        <ng-template matTabContent>
                            <div class="flex-col">
                                <div class="grid grid-cols-3 gap-3 place-items-start h-auto border rounded py-10 px-5"
                                    *ngIf="!isLoading">
                                    <div>
                                        <b>Batch Id</b>: {{batchDetails.name}}
                                    </div>
                                    <div>
                                        <b>Assessor Name</b>: {{batchDetails.assessor?.user?.first_name}}
                                        {{batchDetails.assessor?.user?.last_name}}
                                    </div>
                                    <div>
                                        <b>Job Role</b>: {{batchDetails.job_role?.name}}
                                    </div>
                                    <div>
                                        <b>Scheme</b>: {{batchDetails.scheme?.name}}
                                    </div>
                                    <div>
                                        <b>Sector</b>: {{batchDetails.sector?.name}}
                                    </div>
                                    <!-- <div>
                                        <b>City</b>: {{batchDetails.city}}
                                    </div> -->
                                    <div>
                                        <b>State</b>: {{batchDetails.state?.state_name}}
                                    </div>
                                    <div>
                                        <b>Exam Rule</b>: {{batchDetails.exam_rule?.name}}
                                    </div>
                                    <div>
                                        <b>Paper Set</b>: {{batchDetails.paper?.name}}
                                    </div>
                                    <div>
                                        <b>Exam Type</b>:
                                        <span *ngFor="let item of examType">
                                            <span *ngIf="item.id === batchDetails.type">
                                                {{item.name | titlecase}}
                                            </span>
                                        </span>
                                    </div>
                                    <div>
                                        <b>Exam languages</b>: {{batchDetails.batch_locales.join(', ')}}
                                    </div>
                                    <div>
                                        <b>Coordinator Name</b>: {{batchDetails.coordinator_name}}
                                    </div>
                                    <div>
                                        <b>Coordinator Contact No.</b>: {{batchDetails.coordinator_contact_no}}
                                    </div>
                                    <div>
                                        <b>Coordinator Contact No 2</b>: {{batchDetails.coordinator_contact_no_2}}
                                    </div>
                                    <div>
                                        <b>TP Name</b>: {{batchDetails.tp_name}}
                                    </div>
                                    <div>
                                        <b>TP Address</b>: {{batchDetails.tp_address}}
                                    </div>
                                    <div>
                                        <b>TP Email</b>: {{batchDetails.tp_email}}
                                    </div>
                                    <div>
                                        <b>TC Name</b>: {{batchDetails.tc_name}}
                                    </div>
                                    <div>
                                        <b>Exam Time</b>: {{batchDetails.time}} Hours
                                    </div>
                                    <div>
                                        <b>Exam Start Date</b>: {{batchDetails.start_date | date: 'short'}}
                                    </div>
                                    <div>
                                        <b>Exam End Date</b>: {{batchDetails.end_date | date: 'short'}}
                                    </div>
                                    <div>
                                        <b>Total Marks</b>: {{batchDetails?.paper?.total_marks}}
                                    </div>
                                    <div>
                                        <b>No Of Question</b>: {{batchDetails?.no_of_question}}
                                    </div>
                                    <div>
                                        <b>Batch Rating</b> : {{ averageRating | number: '1.2-2' }}                                        
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="flex flex-col p-5 border rounded w-full mt-3" *ngIf="batchDetails.candidates">
                                <div class="flex">
                                <h4 class="font-bold text-lg mt-1.5 mb-3">Candidates List</h4>
                                <button *ngIf="batchDetails.theorySubmitted" class="ml-3 w-30 text-sm  hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" mat-flat-button
                                [color]="'primary'" (click)="openRatingDialog()">
                                Assessor Rating
                                </button>
                                    <button *ngIf="batchDetails.theorySubmitted" class="ml-3 w-30 text-sm" mat-flat-button
                                    [color]="'primary'" (click)="exportResult()">
                                    Download Results
                                    </button>
                                    <button *ngIf="batchDetails.theorySubmitted" class="ml-3 w-60 text-sm" mat-flat-button
                                    [color]="'primary'" (click)="exportCandidateWiseResult()">
                                    Download Candidate wise Result
                                    </button>
                                    <button  class="ml-3 w-30 text-sm" mat-flat-button *ngIf="batchDetails.theorySubmitted"
                                    [color]="'primary'" (click)="exportCandidateStatus()">
                                    Candidate Status
                                   </button>
                                   <button  class="ml-3 w-30 text-sm" mat-flat-button *ngIf="batchDetails.theorySubmitted"
                                   [color]="'primary'" (click)="exportQuestion()">
                                   Question-List
                                  </button>
                                    <button  class="ml-3 w-40 text-sm" mat-flat-button *ngIf="batchDetails.theorySubmitted"
                                    [color]="'primary'" (click)="exportTrainingAttendance()">
                                    Training Attendance
                                   </button>
                                    <button  class="ml-3 w-30 text-sm" mat-flat-button *ngIf="batchDetails.theorySubmitted"
                                    [color]="'primary'" (click)="exportBatchAttendance()">
                                    Attendance Sheet
                                   </button>
                                    <button  class="ml-3 w-30 text-sm" mat-flat-button *ngIf="batchDetails.theorySubmitted"
                                    [color]="'primary'" (click)="exportBatchFeedback()">
                                     Batch Feedback
                                   </button>
                                    <!-- <button class="ml-8" mat-flat-button [color]="'primary'">
                                        Download MSI Sheet
                                    </button> -->
                                </div>
                                <mat-divider class="my-5"></mat-divider>
                                <table
                                    class="table-auto text-center border-collapse border border-gray-200 rounded w-auto"
                                    *ngIf="batchDetails.candidates.length !== 0">
                                    <thead>
                                        <tr>
                                            <th class="border border-gray-200 p-3 bg-gray-300">Sr No.</th>
                                            <th class="border border-gray-200 p-3 bg-gray-300">Candidate Id</th>
                                            <th class="border border-gray-200 p-3 bg-gray-300">Name</th>
                                            <th class="border border-gray-200 p-3 bg-gray-300">Logs</th>
                                            <th class="border border-gray-200 p-3 bg-gray-300">Present</th>
                                            <th class="border border-gray-200 p-3 bg-gray-300">Device Info</th>
                                            <th class="border border-gray-200 p-3 bg-gray-300">App Version</th>
                                            <th class="border border-gray-200 p-3 bg-gray-300">Practical Submitted</th>
                                            <th class="border border-gray-200 p-3 bg-gray-300">Theory Submitted</th>
                                            <th class="border border-gray-200 p-3 bg-gray-300">Total marks</th>
                                            <th class="border border-gray-200 p-3 bg-gray-300">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let candidate of batchDetails.candidates;let i = index"
                                            class="text-center">
                                            <td class="border border-gray-200">{{i+1}}</td>
                                            <td class="border border-gray-200">{{candidate.candidate_id}}</td>
                                            <td class="border border-gray-200">
                                                {{candidate.user.first_name}}&nbsp;{{candidate.user.last_name}}
                                            </td>
                                            <td class="border border-gray-200 w-80">
                                                <span *ngIf="candidate.candidate_logs[0]?.log_type">
                                                    {{candidate.candidate_logs[0]?.log_type}} :-
                                                    {{candidate.candidate_logs[0]?.createdAt | date :'medium'}}
                                                    {{candidate.candidate_logs[0]?.device_type?'('+loginTypeValue[candidate.candidate_logs[0]?.device_type]+')':''}}
                                                    <br>
                                                </span>
                                                <span *ngIf="candidate.candidate_logs[1]?.log_type">
                                                    {{candidate.candidate_logs[1]?.log_type}} :-
                                                    {{candidate.candidate_logs[1]?.createdAt | date :'medium'}}
                                                    {{candidate.candidate_logs[0]?.device_type?'('+loginTypeValue[candidate.candidate_logs[0]?.device_type]+')':''}}
                                                </span>
                                            </td>
                                            <td class="border border-gray-200">{{candidate.isPresent?'Yes':'No'}}</td>
                                            <td class="border border-gray-200">
                                                {{candidate.candidate_logs[0]?.device_info !== null? candidate.candidate_logs[0]?.device_info :'N/A'}}
                                            </td>
                                            <td class="border border-gray-200">
                                                {{candidate.candidate_logs[0]?.app_version !== null? candidate.candidate_logs[0]?.app_version :'N/A'}}
                                            </td>
                                            <td class="border border-gray-200">
                                                {{batchDetails.practicalSubmitted?'Yes':'No'}}
                                            </td>
                                            <td class="border border-gray-200">{{candidate.theorySubmitted?'Yes':'No'}}
                                            </td>
                                            <td class="border border-gray-200">
                                                {{candidate.marks !== null?candidate.marks+'/'+batchDetails.total_marks:'N/A'}}
                                            </td>
                                            <td class="border border-gray-200">
                                                <button class="ml-auto" mat-icon-button
                                                    [matMenuTriggerFor]="conversationHeaderMenu">
                                                    <mat-icon [svgIcon]="'heroicons_outline:dots-vertical'"></mat-icon>
                                                    <mat-menu #conversationHeaderMenu>
                                                        <button mat-menu-item
                                                            routerLink='/batch-exam/candidate-detail/{{candidate.id}}'>
                                                            <mat-icon [svgIcon]="'heroicons_outline:identification'">
                                                            </mat-icon>
                                                            Candidate Details
                                                        </button>
                                                        <button *ngIf="!hideResetExam" mat-menu-item
                                                            (click)="openDialog(candidate.id, candidate.user.first_name,candidate.user.last_name)">
                                                            <mat-icon [svgIcon]="'heroicons_outline:identification'">
                                                            </mat-icon>
                                                            Reset Exam
                                                        </button>
                                                        <button mat-menu-item  *ngIf="candidate.theorySubmitted==false && candidate.draft!=null"
                                                        (click)="dialogSubmit(candidate.id)">
                                                        <mat-icon [svgIcon]="'heroicons_outline:identification'">
                                                        </mat-icon>
                                                        Submit Exam
                                                    </button>
                                                    </mat-menu>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="text-center font-bold w-full" *ngIf="batchDetails.candidates.length === 0">
                                    <h3>No Candidates to show!</h3>
                                </div>
                            </div>
                        </ng-template>
                    </mat-tab>
                    <mat-tab label="Questions List">
                        <div class="flex flex-col p-5 border rounded" *ngIf="!isLoading">
                            <div class="flex flex-row">
                                <div>
                                    <h4 class="font-bold text-lg mt-2">Questions List</h4>
                                </div>
                                <div class="ml-5" *ngIf="locales.length > 1">
                                    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50"
                                        *ngIf="locales.length !== 0">
                                        <mat-select placeholder="Select Language"
                                            (selectionChange)="onChangeLanguage($event.value)">
                                            <mat-option *ngFor="let item of locales" [value]="item.id">
                                                {{item.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <mat-divider class="my-5"></mat-divider>
                            <div>
                                <table
                                    class="table-auto text-center border-collapse border border-gray-200 rounded w-full"
                                    *ngIf="questionsList.length !== 0">
                                    <thead>
                                        <tr>
                                            <th class="border border-gray-200 p-3 bg-gray-300">Sr No.</th>
                                            <th class="border border-gray-200 p-3 bg-gray-300">Question</th>
                                            <th class="border border-gray-200 p-3 bg-gray-300">Weightage</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="text-center" *ngFor="let item of questionsList; let i = index">
                                            <td class="border border-gray-200">{{i + 1}}</td>
                                            <td class="border border-gray-200">
                                                {{item.question?.question_locales[languageIndex].text}}
                                            </td>
                                            <td class="border border-gray-200">{{item.question?.weightage}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="text-center font-bold w-full" *ngIf="questionsList.length === 0">
                                    <h3>No Questions to show!</h3>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Candidates snapshots">
                        <div class="mb-5 text-center">
                            <button mat-raised-button color="primary"
                                (click)="getCandidatesSnapshots()">Refresh</button>
                        </div>
                        <div class="flex flex-col p-5 border rounded" *ngIf="candidatesSnapshots">
                            <h4 class="font-bold text-lg">Documents List</h4>
                            <mat-divider class="my-5"></mat-divider>
                            <div>
                                <table
                                    class="table-auto text-center border-collapse border border-gray-200 rounded w-full">
                                    <thead>
                                        <tr>
                                            <th class="border border-gray-200 p-3 bg-gray-300">Sr No.</th>
                                            <th class="border border-gray-200 p-3 bg-gray-300">Candidate Id
                                            </th>
                                            <th class="border border-gray-200 p-3 bg-gray-300">Candidate Name
                                            </th>
                                            <th class="border border-gray-200 p-3 bg-gray-300">Snapshots</th>

                                            <th class="border border-gray-200 p-3 bg-gray-300">Candidate Video</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="text-center"
                                            *ngFor="let candidateSnap of candidatesSnapshots; let i = index">
                                            <td class="border border-gray-200">{{i+1}}</td>
                                            <td class="border border-gray-200">{{candidateSnap.candidateId}}
                                            </td>
                                            <td class="border border-gray-200">{{candidateSnap.Name}}
                                            </td>
                                            <td class="border border-gray-200">
                                                <img class="ml-3" [lazyLoad]="candidateSnap.Key"
                                                    style="height: 150px; width: 210px;">
                                                {{candidateSnap.Time | date: 'medium'}}
                                            </td>
                                            
                                            <td class="border border-gray-200">
                                                <div *ngFor="let item of candidatesVideos">
                                                    <div *ngIf="item.candidateId===candidateSnap.candidateId">
                                                        <video controls autoplay="autoplay" style="height: 150px; width: 210px;">
                                                            <source [src]="item.Key" type="video/webm" />
                                                        </video>
                                                    </div>
                                                </div>
                                                <div *ngIf="!hasVideoForCandidate(candidateSnap.candidateId)">
                                                    <p>No Video Available.</p>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- <div class="grid grid-cols-5 gap-2">
                            <div *ngFor="let candidateSnap of candidatesSnapshots">
                                <img [lazyLoad]="candidateSnap.Key" style="height: 150px; width: 210px;">
                                <span>{{candidateSnap.Name| date: 'medium'}}</span>
                            </div>
                        </div> -->
                    </mat-tab>
                    <mat-tab label="Documents List">
                        <ng-template matTabContent>
                            <div class="flex flex-col p-5 border rounded" *ngIf="documentData">
                                <h4 class="font-bold text-lg">Documents List</h4>
                                <mat-divider class="my-5"></mat-divider>
                                <div>
                                    <table
                                        class="table-auto text-center border-collapse border border-gray-200 rounded w-full">
                                        <thead>
                                            <tr>
                                                <th class="border border-gray-200 p-3 bg-gray-300">Sr No.</th>
                                                <th class="border border-gray-200 p-3 bg-gray-300">Documents Required
                                                </th>
                                                <th class="border border-gray-200 p-3 bg-gray-300">Attachment</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="text-center">
                                                <td class="border border-gray-200">1</td>
                                                <td class="border border-gray-200">Enrollment Form of Every
                                                    Candidates(With
                                                    Center Seal & Sign)</td>
                                                <td class="border border-gray-200">To Be Taken from Center</td>
                                            </tr>
                                            <tr class="text-center">
                                                <td class="border border-gray-200">2</td>
                                                <td class="border border-gray-200">Adhaar Card of Every Candidates (With
                                                    Center
                                                    Seal & Sign) and (With Candidate Sign)</td>
                                                <td class="border border-gray-200">To Be Taken from Center</td>
                                            </tr>
                                            <tr class="text-center">
                                                <td class="border border-gray-200">3</td>
                                                <td class="border border-gray-200">Training Attendance of Each Day of
                                                    Training
                                                    (With Center Seal & Sign)</td>
                                                <td class="border border-gray-200">To Be Taken from Center</td>
                                            </tr>
                                            <tr class="text-center">
                                                <td class="border border-gray-200">4</td>
                                                <td class="border border-gray-200">Training Photos & Videos Whole
                                                    Duration of
                                                    Training</td>
                                                <td class="border border-gray-200">To Be Taken from Center</td>
                                            </tr>
                                            <tr class="text-center">
                                                <td class="border border-gray-200">5</td>
                                                <td class="border border-gray-200">Attendance Sheet (With Center Seal &
                                                    Sign)
                                                    and (With Assessor Sign)</td>
                                                <td class="border border-gray-200">To Be Taken from Center</td>
                                            </tr>
                                            <tr class="text-center">
                                                <td class="border border-gray-200">6</td>
                                                <td class="border border-gray-200">Annexure-M (With Center Seal & Sign)
                                                    and
                                                    (With Assessor Sign)</td>
                                                <td class="border border-gray-200">
                                                    <button (click)="downloadFile(documentData.annexure_m_url)">
                                                        <mat-icon [svgIcon]="'heroicons_outline:document-download'">
                                                        </mat-icon>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr class="text-center">
                                                <td class="border border-gray-200">7</td>
                                                <td class="border border-gray-200">Assessor Feedback Form (With Assessor
                                                    Sign)
                                                </td>
                                                <td class="border border-gray-200">
                                                    <button
                                                        (click)="downloadFile(documentData.assessor_feedback_form_url)">
                                                        <mat-icon [svgIcon]="'heroicons_outline:document-download'">
                                                        </mat-icon>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr class="text-center">
                                                <td class="border border-gray-200">8</td>
                                                <td class="border border-gray-200">Assessor Declaration (With Assessor
                                                    Sign)
                                                </td>
                                                <td class="border border-gray-200">
                                                    <button
                                                        (click)="downloadFile(documentData.assessor_declaration_form_url)">
                                                        <mat-icon [svgIcon]="'heroicons_outline:document-download'">
                                                        </mat-icon>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr class="text-center">
                                                <td class="border border-gray-200">9</td>
                                                <td class="border border-gray-200">Center in charge Declaration (With
                                                    Center
                                                    Seal & Sign)</td>
                                                <td class="border border-gray-200">
                                                    <button
                                                        (click)="downloadFile(documentData.center_incharge_declaration_from_url)">
                                                        <mat-icon [svgIcon]="'heroicons_outline:document-download'">
                                                        </mat-icon>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr class="text-center">
                                                <td class="border border-gray-200">10</td>
                                                <td class="border border-gray-200">Candidate Feedback form from each
                                                    candidate
                                                    (With Center Seal & Sign) and (with Candidate Sign)</td>
                                                <td class="border border-gray-200">
                                                    <button (click)="downloadFile(documentData.candidatesUrl)">
                                                        <mat-icon [svgIcon]="'heroicons_outline:document-download'">
                                                        </mat-icon>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr class="text-center">
                                                <td class="border border-gray-200">11</td>
                                                <td class="border border-gray-200">Center Feedback Form (With Center
                                                    Seal &
                                                    Sign)</td>
                                                <td class="border border-gray-200">
                                                    <button
                                                        (click)="downloadFile(documentData.center_feedback_form_url)">
                                                        <mat-icon [svgIcon]="'heroicons_outline:document-download'">
                                                        </mat-icon>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr class="text-center">
                                                <td class="border border-gray-200">12</td>
                                                <td class="border border-gray-200">Annexure - N (With Center Seal &
                                                    Sign) and
                                                    (With Candidate Sign)</td>
                                                <td class="border border-gray-200">
                                                    <button (click)="downloadFile(documentData.annexure_n_url)">
                                                        <mat-icon [svgIcon]="'heroicons_outline:document-download'">
                                                        </mat-icon>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr class="text-center">
                                                <td class="border border-gray-200">13</td>
                                                <td class="border border-gray-200">Declaration of Center if Lab
                                                    Equipments are
                                                    not available (With Center Seal & Sign)</td>
                                                <td class="border border-gray-200">
                                                    <button
                                                        (click)="downloadFile(documentData.no_equipment_declaration_url)">
                                                        <mat-icon [svgIcon]="'heroicons_outline:document-download'">
                                                        </mat-icon>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr class="text-center">
                                                <td class="border border-gray-200">14</td>
                                                <td class="border border-gray-200">Declaration if documents are not
                                                    available
                                                    (With Center Seal & Sign)</td>
                                                <td class="border border-gray-200">
                                                    <button
                                                        (click)="downloadFile(documentData.no_document_declaration_url)">
                                                        <mat-icon [svgIcon]="'heroicons_outline:document-download'">
                                                        </mat-icon>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </ng-template>
                    </mat-tab>
                    <mat-tab label="Practical Photos/Videos" *ngIf="batchDetails.practicalSubmitted">
                        <div *ngIf="practicalData">
                            <div class="p-5 border rounded">
                                <h3 class="font-bold text-lg">Theory Photos</h3>
                                <mat-divider class="my-5"></mat-divider>
                                <div class="grid grid-cols-6 gap-2">
                                    <div *ngFor="let item of practicalData.theory_photos">
                                        <img [defaultImage]="item" [lazyLoad]="item"
                                            style="max-width:100px;max-height:100px">
                                    </div>
                                </div>
                            </div>
                            <div class="p-5 mt-3 border rounded">
                                <h3 class="font-bold text-lg">Group Photos</h3>
                                <mat-divider class="my-5"></mat-divider>
                                <div class="grid grid-cols-6 gap-2">
                                    <div *ngFor="let item of practicalData.group_photos">
                                        <img [defaultImage]="item" [lazyLoad]="item"
                                            style="max-width:100px;max-height:100px">
                                    </div>
                                </div>
                            </div>
                            <div class="p-5 mt-3 border rounded">
                                <h3 class="font-bold text-lg">Training Attendance day Photos</h3>
                                <mat-divider class="my-5"></mat-divider>
                                <div class="grid grid-cols-6 gap-2">
                                    <div *ngFor="let item of practicalData.training_attendance_day_wises">
                                        <img [defaultImage]="item" [lazyLoad]="item"
                                            style="max-width:100px;max-height:100px">
                                    </div>
                                </div>
                            </div>
                            <div class="p-5 mt-3 border rounded">
                                <h3 class="font-bold text-lg">Training Attendance Sheets</h3>
                                <mat-divider class="my-5"></mat-divider>
                                <div class="grid grid-cols-6 gap-2">
                                    <div *ngFor="let item of practicalData.training_attendance_sheets">
                                        <img [defaultImage]="item" [lazyLoad]="item"
                                            style="max-width:100px;max-height:100px">
                                    </div>
                                </div>
                            </div>
                            <div class="p-5 mt-3 border rounded">
                                <h3 class="font-bold text-lg">Training Photos</h3>
                                <mat-divider class="my-5"></mat-divider>
                                <div class="grid grid-cols-6 gap-2">
                                    <div *ngFor="let item of practicalData.training_photos">
                                        <img [defaultImage]="item" [lazyLoad]="item"
                                            style="max-width:100px;max-height:100px">
                                    </div>
                                </div>
                            </div>
                            <div class="p-5 mt-3 border rounded">
                                <h3 class="font-bold text-lg">Training Videos</h3>
                                <mat-divider class="my-5"></mat-divider>
                                <div class="grid grid-cols-6 gap-2">
                                    <div *ngFor="let item of practicalData.training_videos">
                                        <button mat-button class="whitespace-nowrap text-primary-500">
                                            <a [href]="item" target="_blank">View</a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="p-5 mt-3 border rounded">
                                <h3 class="font-bold text-lg">Lab Photo</h3>
                                <mat-divider class="my-5"></mat-divider>
                                <div class="grid grid-cols-6 gap-2">
                                    <div>
                                        <img [defaultImage]="practicalData.assessor_img_url"
                                            [lazyLoad]="practicalData.assessor_img_url"
                                            style="max-width:100px;max-height:100px">
                                    </div>
                                </div>
                            </div>
                            <div class="p-5 mt-3 border rounded">
                                <h3 class="font-bold text-lg">Lab Video</h3>
                                <mat-divider class="my-5"></mat-divider>
                                <div class="grid grid-cols-6 gap-2">
                                    <div *ngIf="practicalData.lab_video_url">
                                        <button mat-button class="whitespace-nowrap text-primary-500">
                                            <a [href]="practicalData.lab_video_url" target="_blank">View</a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
            <!-- <div class="ml-5">
                <button
                mat-flat-button
                [color]="'primary'" *ngIf="batchDetails.practicalSubmitted" (click)="downloadZip(batchDetails.id)">
                    <mat-icon [svgIcon]="'heroicons_outline:download'"></mat-icon>
                    Download zip
                </button>
            </div> -->
        </div>
    </div>
    <mat-card>
        <div class="border ml-4 mr-3 rounded" id="container"></div>
    </mat-card>
        
   

</div>
