<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Loader -->
        <div
            class="absolute inset-x-0 bottom-0"
            *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">Job Role Management</div>
        <!-- Actions -->
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <button
                class="mr-4"
                mat-flat-button
                [color]="'primary'" routerLink="nos">
                <span>Show Nos</span>
            </button>
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-40 w-40 mr-2">
                <mat-select [(ngModel)]="filterRecords" (selectionChange)="filterDataChanged($event.value)">
                    <mat-option value="" selected>Filter Records</mat-option>
                    <mat-option value="true">Deleted</mat-option>
                    <mat-option value="false">Present</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript mr-2 min-w-40 w-40 ">
                <mat-select [formControl]="selectCtrl" placeholder="Jobrole" #singleSelect
                    (selectionChange)="onChangeJobRoleSelect($event.value)">
                    <mat-option>
                        <ngx-mat-select-search [formControl]="inputFilterCtrl" placeholderLabel="Search jobrole">
                        </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let item of jobSectors | async" [value]="item.id">
                        {{item.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <!-- Search -->
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50">
                <mat-icon
                    matPrefix
                    [svgIcon]="'heroicons_outline:search'"></mat-icon>
                <input
                    matInput
                    (input)="filterSearch($event)"
                    [autocomplete]="'off'"
                    [placeholder]="'Search Job Role'">
            </mat-form-field>
            <!-- Add sector button -->
            <button
                class="ml-4"
                mat-flat-button
                [color]="'primary'"
                (click)="createJobRole()">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Add</span>
            </button>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">

        <!-- Scheme list -->
        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden">

            <ng-container>

                <!-- Table wrapper -->
                <div
                    class="overflow-x-auto sm:overflow-y-auto"
                    cdkScrollable>

                    <!-- Table -->
                    <table
                        class="w-full table-fixed bg-transparent"
                        [ngClass]="{'pointer-events-none': isLoading}"
                        mat-table
                        matSort
                        [matSortActive]="'name'"
                        [matSortDisableClear]="true"
                        [matSortDirection]="'asc'"
                        [multiTemplateDataRows]="true"
                        [dataSource]="jobRoles$"
                        [trackBy]="trackByFn">

                        <!-- Name -->
                        <ng-container matColumnDef="name">
                            <th
                                class="w-3/12 bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                mat-header-cell
                                *matHeaderCellDef
                                disableClear>
                                Job Role Name
                            </th>
                            <td
                                class="pr-8 truncate"
                                mat-cell
                                *matCellDef="let job">
                                {{job.name}}
                            </td>
                        </ng-container>

                        <!-- ID -->
                        <ng-container matColumnDef="createdDate">
                            <th
                                class="w-3/12 pl-8 bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                mat-header-cell
                                *matHeaderCellDef
                                disableClear>
                                Created Date
                            </th>
                            <td
                                class="px-8"
                                mat-cell
                                *matCellDef="let job">
                                <div class="flex items-center">
                                    <span class="truncate">{{job.createdAt | date}}</span>
                                </div>
                            </td>
                        </ng-container>

                        <!-- JobRole -->
                        <ng-container matColumnDef="job">
                            <th
                                class="w-3/12 bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                mat-header-cell
                                *matHeaderCellDef
                                disableClear>
                                Sector
                            </th>
                            <td
                                class="pr-8 truncate"
                                mat-cell
                                *matCellDef="let job">
                                {{job.sector?.name}}
                            </td>
                        </ng-container>

                        <!-- Actions -->
                        <ng-container matColumnDef="actions">
                            <th
                                class="w-3/12 pl-3 bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                mat-header-cell
                                *matHeaderCellDef>
                                Actions
                            </th>
                            <td
                                class="pr-8"
                                mat-cell
                                *matCellDef="let job">
                                <div *ngIf="filterRecords !== 'true'">
                                    <button mat-icon-button *ngIf="(selectedJobRole?.id !== job.id) && (job.id !== 'new')" (click)="toggleDetails(job)">
                                        <mat-icon
                                            class="icon-size-5"
                                            [svgIcon]="(selectedJobRole?.id === job.id) || (job.id === 'new')?'':'heroicons_solid:pencil'">
                                        </mat-icon>
                                    </button>
                                    <button mat-button color="primary" (click)="toggleDetails(job)"  *ngIf="(selectedJobRole?.id === job.id) || (job.id === 'new')">
                                        Cancel
                                    </button>
                                    <button
                                    mat-icon-button
                                    *ngIf="selectedJobRole?.id !== 'new'"
                                    (click)="openDialog(job)">
                                        <mat-icon
                                            class="icon-size-5"
                                            [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                                    </button>
                                </div>
                            </td>
                        </ng-container>

                        <!-- scheme details row -->
                        <ng-container matColumnDef="jobRoleDetails">
                            <td
                                class="p-0 border-b-0"
                                mat-cell
                                *matCellDef="let job"
                                [attr.colspan]="jobRoleTableColumns.length">

                                <div
                                class="shadow-lg overflow-hidden"
                                [@expandCollapse]="(selectedJobRole?.id === job.id) || (job.id === 'new') ? 'expanded' : 'collapsed'">
                                <div class="flex border-b">
                                        <!-- Selected product form -->
                                        <form
                                            class="flex flex-col w-full"
                                            [formGroup]="selectedJobRoleForm" (ngSubmit)="updateselectedJobRole()">

                                            <div class="flex p-8">
                                                <mat-form-field [floatLabel]="'always'" [ngClass]="formFieldHelpers" class="w-2/5 pr-2">
                                                    <mat-label>Job Role Name</mat-label>
                                                    <input
                                                        matInput
                                                        [placeholder]="'New Job Role'"
                                                        [formControlName]="'name'" required>
                                                </mat-form-field>

                                                <mat-form-field class="w-2/5 pl-2">
                                                    <mat-label>Sector</mat-label>
                                                    <mat-select [formControlName]="'sector_id'" placeholder="Sector" #singleSelect>
                                                        <mat-option>
                                                            <ngx-mat-select-search [formControl]="inputFilterCtrl" placeholderLabel="Search Sector"></ngx-mat-select-search>
                                                        </mat-option>

                                                        <mat-option *ngFor="let item of jobSectors | async" [value]="item.id">
                                                            {{item.name}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>

                                            </div>

                                            <div class="flex items-center justify-between w-full border-t px-8 py-4">
                                                <div class="flex items-center">
                                                    <div
                                                        class="flex items-center mr-4"
                                                        *ngIf="flashMessage">
                                                        <ng-container *ngIf="flashMessage === 'success'">
                                                            <mat-icon
                                                                class="text-green-500"
                                                                [svgIcon]="'heroicons_outline:check'"></mat-icon>
                                                            <span class="ml-2" *ngIf="selectedJobRole?.id === 'new'">Job Role Added Successfully</span>
                                                            <span class="ml-2" *ngIf="!selectedJobRole?.id === 'new'">Job Role Updated Successfully</span>
                                                        </ng-container>
                                                        <ng-container *ngIf="flashMessage === 'error'">
                                                            <mat-icon
                                                                class="text-red-500"
                                                                [svgIcon]="'heroicons_outline:x'"></mat-icon>
                                                            <span class="ml-2">An error occurred, try again!</span>
                                                        </ng-container>
                                                    </div>
                                                    <button
                                                        mat-flat-button
                                                        [color]="'primary'">
                                                        {{selectedJobRole?.id === 'new' ? 'Save' : 'Update'}}
                                                    </button>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </td>
                        </ng-container>

                        <tr
                            class="shadow"
                            mat-header-row
                            *matHeaderRowDef="jobRoleTableColumns; sticky: true"></tr>
                        <tr
                            class="h-18 hover:bg-gray-100 dark:hover:bg-hover"
                            mat-row
                            *matRowDef="let scheme; columns: jobRoleTableColumns;"></tr>
                        <tr
                            class="h-0"
                            mat-row
                            *matRowDef="let row; columns: ['jobRoleDetails']"></tr>

                    </table>

                </div>

            </ng-container>

        </div>

    </div>

</div>
