<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Loader -->
        <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">Paper Management</div>
        <!-- Actions -->
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <!-- Search -->
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50">
                <mat-icon matPrefix [svgIcon]="'heroicons_outline:search'"></mat-icon>
                <input matInput (input)="filterSearch($event)" [autocomplete]="'off'" [placeholder]="'Search Paper'">
            </mat-form-field>
            <!-- Add sector button -->
            <button class="ml-4" mat-flat-button [color]="'primary'" routerLink="add-paper">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Add</span>
            </button>
        </div>
    </div>
    <!-- Main -->
    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">

        <!-- Scheme list -->
        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden">

            <ng-container>

                <!-- Table wrapper -->
                <div class="overflow-x-auto sm:overflow-y-auto" cdkScrollable>

                    <!-- Table -->
                    <table class="w-300 min-w-300 table-fixed bg-transparent"
                        [ngClass]="{'pointer-events-none': isLoading}" mat-table matSort [matSortActive]="'name'"
                        [matSortDisableClear]="true" [matSortDirection]="'asc'" [multiTemplateDataRows]="true"
                        [dataSource]="papers$" [trackBy]="trackByFn">

                        <ng-container matColumnDef="name">
                            <th class="w-80 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell
                                *matHeaderCellDef disableClear>
                                Paper Name
                            </th>
                            <td class="pr-8 truncate" mat-cell *matCellDef="let item">
                                {{item.name}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="totalMarks">
                            <th class="w-80 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell
                                *matHeaderCellDef disableClear>
                                Total Marks
                            </th>
                            <td class="pr-8 truncate" mat-cell *matCellDef="let item">
                                {{item.total_marks}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="noOfQuestions">
                            <th class="w-80 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell
                                *matHeaderCellDef disableClear>
                                Total Questions
                            </th>
                            <td class="pr-8 truncate" mat-cell *matCellDef="let item">
                                {{item.no_of_question}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="actions">
                            <th class="w-40 pl-3 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell
                                *matHeaderCellDef>
                                Actions
                            </th>
                            <td class="pr-8" mat-cell *matCellDef="let item">
                                <button mat-icon-button routerLink="update-paper/{{item.id}}">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:pencil'"></mat-icon>
                                </button>
                                <!-- <button mat-icon-button (click)="openDialog(item.id)">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                                </button> -->
                            </td>
                        </ng-container>

                        <tr class="shadow" mat-header-row *matHeaderRowDef="paperTableColumns; sticky: true"></tr>
                        <tr class="h-18 hover:bg-gray-100 dark:hover:bg-hover" mat-row
                            *matRowDef="let scheme; columns: paperTableColumns;"></tr>

                    </table>

                </div>

            </ng-container>

        </div>

    </div>

</div>
