<div class="flex-auto p-6 absolute inset-0 overflow-auto bg-card dark:bg-transparent">
    <form class="w-full mt-4 px-4 pt-10 bg-card shadow-md rounded overflow-hidden" [formGroup]="practicalForm"
        (ngSubmit)="addUpdateViva()">
        <div class="text-3xl font-extrabold tracking-tight">
            {{isNew?'Add':'Update'}} Viva
        </div>
        <div formArrayName="practicals">
            <!-- [ngClass]="questions().controls.length !== 1?'bg-card shadow-md rounded p-5':''" -->
            <mat-divider class="my-5"></mat-divider>
            <div *ngFor="let item of questions().controls; let i=index" [formGroupName]="i">
                <div class="text-right">
                    <a mat-flat-button [color]="'warn'" matTooltip="Remove Question"
                        *ngIf="questions().controls.length !== 1" [matTooltipPosition]="'above'"
                        (click)="removeQuestion(i)">Remove</a>
                </div>
                <div class="flex flex-col">
                    <div class="flex flex-row gap-5">
                        <mat-form-field class="fuse-mat-dense flex-auto">
                            <mat-label>Question</mat-label>
                            <input matInput [formControlName]="'question'" required>
                            <!-- <mat-error
                                *ngIf="practicalForm.controls.question.errors?.required || practicalForm.controls.question.invalid">
                                <div *ngIf="practicalForm.controls.question.errors?.required">
                                    Question is required
                                </div>
                            </mat-error> -->
                        </mat-form-field>
                        <mat-form-field class="fuse-mat-dense flex-auto">
                            <mat-label>Job Role</mat-label>
                            <mat-select [formControlName]="'jobRole'" required>
                                <mat-option value="">Select Job Role</mat-option>
                                <mat-option [value]="item.id" *ngFor="let item of jobRoles$ | async">{{item.name}}
                                </mat-option>
                            </mat-select>
                            <!-- <mat-error
                                *ngIf="practicalForm.controls.jobRole.errors?.required || practicalForm.controls.jobRole.invalid">
                                <div *ngIf="practicalForm.controls.jobRole.errors?.required">
                                    Job Role is required
                                </div>
                            </mat-error> -->
                        </mat-form-field>
                    </div>
                </div>
                <h2 class="text-2xl font-extrabold tracking-tight mb-3">Practical Steps</h2>
                <ckeditor [formControlName]="'steps'"></ckeditor>
                <mat-divider class="my-5"></mat-divider>
            </div>
            <div class="text-center mt-3">
                <a mat-raised-button [color]="'primary'" matTooltip="Add Question" [matTooltipPosition]="'above'"
                    (click)="addQuestion()">Add</a>
            </div>
        </div>
        <mat-divider class="my-5"></mat-divider>
        <div class="flex flex-row my-5 justify-center">
            <button class="flex px-6" mat-flat-button type="submit" [color]="'primary'">
                {{isNew?'Save':'Update'}}
            </button>
            <button class="flex px-6 ml-3" mat-flat-button type="submit" [color]="'primary'" routerLink="/practical">
                Cancel
            </button>
        </div>
    </form>
</div>
