<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Loader -->
        <div
            class="absolute inset-x-0 bottom-0"
            *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">
            Scheme Management
        </div>
        <!-- Actions -->
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <!-- Search -->
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50 mr-2">
                <mat-select [(ngModel)]="filterRecords" (selectionChange)="filterDataChanged($event.value)">
                    <mat-option value="" selected>Filter Records</mat-option>
                    <mat-option value="true">Deleted</mat-option>
                    <mat-option value="false">Present</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50">
                <mat-icon
                matPrefix
                [svgIcon]="'heroicons_outline:search'"></mat-icon>
                <input
                matInput
                (input)="filterSearch($event)"
                [autocomplete]="'off'"
                [placeholder]="'Search Scheme'">
            </mat-form-field>
            <!-- Add scheme button -->
            <button
                class="ml-4"
                mat-flat-button
                [color]="'primary'"
                (click)="createScheme()">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Add</span>
            </button>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">

        <!-- Scheme list -->
        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden">

            <ng-container>

                <!-- Table wrapper -->
                <div
                    class="overflow-x-auto sm:overflow-y-auto"
                    cdkScrollable>

                    <!-- Table -->
                    <table
                        class="w-full min-w-300 table-fixed bg-transparent"
                        [ngClass]="{'pointer-events-none': isLoading}"
                        mat-table
                        matSort
                        [matSortActive]="'name'"
                        [matSortDisableClear]="true"
                        [matSortDirection]="'asc'"
                        [multiTemplateDataRows]="true"
                        [dataSource]="schemes$"
                        [trackBy]="trackByFn">

                        <!-- Name -->
                        <ng-container matColumnDef="name">
                            <th
                                class="w-130 bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                mat-header-cell
                                *matHeaderCellDef
                                disableClear>
                                Scheme Name
                            </th>
                            <td
                                class="pr-8 truncate"
                                mat-cell
                                *matCellDef="let scheme">
                                {{scheme.name}}
                            </td>
                        </ng-container>

                        <!-- CreatedAt -->
                        <ng-container matColumnDef="createdDate">
                            <th
                                class="w-120 pl-8 bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                mat-header-cell
                                *matHeaderCellDef
                                disableClear>
                                Created Date
                            </th>
                            <td
                                class="px-8"
                                mat-cell
                                *matCellDef="let scheme">
                                <div class="flex items-center">
                                    <span class="truncate">{{scheme.createdAt | date}}</span>
                                </div>
                            </td>
                        </ng-container>

                        <!-- Actions -->
                        <ng-container matColumnDef="actions">
                            <th
                                class="w-50 pl-3 bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                mat-header-cell
                                *matHeaderCellDef>
                                Actions
                            </th>
                            <td
                                class="pr-8"
                                mat-cell
                                *matCellDef="let scheme">
                                <div *ngIf="filterRecords !== 'true'">
                                    <button mat-icon-button *ngIf="(selectedScheme?.id !== scheme.id) && (scheme.id !== 'new')" (click)="toggleDetails(scheme)">
                                        <mat-icon
                                            class="icon-size-5"
                                            [svgIcon]="(selectedScheme?.id === scheme.id) || (scheme.id === 'new')?'':'heroicons_solid:pencil'">
                                        </mat-icon>
                                    </button>
                                    <button mat-button color="primary" (click)="toggleDetails(scheme)"  *ngIf="(selectedScheme?.id === scheme.id) || (scheme.id === 'new')">
                                        Cancel
                                    </button>
                                    <button
                                    mat-icon-button
                                    *ngIf="selectedScheme?.id !== 'new'"
                                    (click)="openDialog(scheme)">
                                        <mat-icon
                                            class="icon-size-5"
                                            [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                                    </button>
                                </div>
                            </td>
                        </ng-container>

                        <!-- scheme details row -->
                        <ng-container matColumnDef="schemeDetails">
                            <td
                                class="p-0 border-b-0"
                                mat-cell
                                *matCellDef="let scheme"
                                [attr.colspan]="schemeTableColumns.length">
                                <div
                                class="shadow-lg overflow-hidden"
                                [@expandCollapse]="(selectedScheme?.id === scheme.id) || (scheme.id === 'new') ? 'expanded' : 'collapsed'">
                                <div class="flex border-b">
                                        <!-- Selected scheme form -->
                                        <form
                                            class="flex flex-col w-full"
                                            [formGroup]="selectedSchemeForm">

                                            <div class="flex p-8">

                                                <div class="flex flex-auto">
                                                    <div class="flex flex-col w-2/4 pl-8">
                                                        <!-- Name -->
                                                        <mat-form-field [floatLabel]="'always'" [ngClass]="formFieldHelpers" class="w-full">
                                                            <mat-label>Sheme Name</mat-label>
                                                            <input
                                                                matInput
                                                                [placeholder]="'New Scheme'"
                                                                [formControlName]="'name'" required>
                                                        </mat-form-field>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="flex items-center justify-between w-full border-t px-8 py-4">
                                                <div class="flex items-center">
                                                    <div
                                                        class="flex items-center mr-4"
                                                        *ngIf="flashMessage">
                                                        <ng-container *ngIf="flashMessage === 'success'">
                                                            <mat-icon
                                                                class="text-green-500"
                                                                [svgIcon]="'heroicons_outline:check'"></mat-icon>
                                                            <span class="ml-2" *ngIf="selectedScheme?.id === 'new'">Scheme Added Successfully</span>
                                                            <span class="ml-2" *ngIf="selectedScheme?.id !== 'new'">Scheme Updated Successfully</span>
                                                        </ng-container>
                                                        <ng-container *ngIf="flashMessage === 'error'">
                                                            <mat-icon
                                                                class="text-red-500"
                                                                [svgIcon]="'heroicons_outline:x'"></mat-icon>
                                                            <span class="ml-2">An error occurred, try again!</span>
                                                        </ng-container>
                                                    </div>
                                                    <button
                                                        mat-flat-button
                                                        [color]="'primary'"
                                                        (click)="addUpdateSelectedScheme()">
                                                        {{selectedScheme?.id === 'new' ? 'Save' : 'Update'}}
                                                    </button>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </td>
                        </ng-container>

                        <tr
                            class="shadow"
                            mat-header-row
                            *matHeaderRowDef="schemeTableColumns; sticky: true"></tr>
                        <tr
                            class="h-18 hover:bg-gray-100 dark:hover:bg-hover"
                            mat-row
                            *matRowDef="let scheme; columns: schemeTableColumns;"></tr>
                        <tr
                            class="h-0"
                            mat-row
                            *matRowDef="let row; columns: ['schemeDetails']"></tr>

                    </table>

                </div>

            </ng-container>

        </div>

    </div>

</div>
