<div class="absolute inset-0 flex flex-col min-w-0 overflow-auto bg-card dark:bg-transparent">
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <div>
            <span class="font-bold text-3xl">Upload Equipments</span>
        </div>
    </div>
    <div class="mx-auto mt-3">
        <div class="m-5">
            <div class="row">
                <mat-form-field class="fuse-mat-dense flex-auto ml-2 w-100">
                    <mat-label>Job Role</mat-label>
                    <mat-select [(ngModel)]="selectedJobRole">
                        <mat-option value="" selected>Select Job Role</mat-option>
                        <mat-option [value]="item.id" *ngFor="let item of jobRole">{{item.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <input #myInput *ngIf="selectedJobRole" type="file" placeholder="Upload file" name="filename"
                (change)="uploadedFile($event)"
                accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
        </div>
    </div>
    <div *ngIf="equipmentsDataLength > 0">
        <div class="flex flex-row">
            <div class="flex mx-auto">
                <button class="mr-1" mat-flat-button [color]="'primary'" (click)="uploadEquipments()">
                    <mat-icon [svgIcon]="'heroicons_outline:upload'"></mat-icon>
                    <span>Upload Equipments</span>
                </button>
                <button class="ml-1" mat-flat-button [color]="'primary'" (click)="onClickCancel()">
                    <span>Cancel</span>
                </button>
            </div>
        </div>
        <table class="table-auto mx-auto text-center border-collapse border border-gray-200 my-5" *ngIf="showData">
            <tbody>
                <tr class="border border-gray-200 p-3" *ngFor="let row of showData">
                    <td class="border border-gray-200 p-2" *ngFor="let val of row">
                        {{val}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
